flask==2.3.3
flask-login
flask-sqlalchemy
plotly==5.16.1
plotly_express
pandas
openpyxl
beautifulsoup4==4.12.2
requests==2.31.0
jellyfish
Flask-Mail
markdown==3.4.4
flask-apscheduler
email-validator
numpy
python-dateutil==2.8.2
itsdangerous==2.1.2
werkzeug==2.3.7