.modalinput {
    width: 175px;
}

.changelog-item {
    background:#ebebeb;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.palette-display-box {
    margin: 1px;
    height: 60px;
    text-align: center;
}

.datepicker {
    width:90%;
}

.accordion-button:not(.collapsed) {
    background-color: #ffff;
    color:black;
    border-color: #ebebeb;
    border-width: 3px;
    border-style: none none solid none;
}

.accordion-button:focus {
    box-shadow: none;
}

.cookie-footer {
    position: sticky;
    width: 100%;
    background-color: #FFB6C1;
    bottom: 0;
    padding-top: 1%;
    padding-bottom: 1%;
}