.modalinput {
    width: 175px;
}

.changelog-item {
    background:#ebebeb;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.palette-display-box {
    margin: 1px;
    height: 60px;
    text-align: center;
}
#edit-table {
    margin:auto;
}

#edit-table table,
#edit-table thead,
#edit-table tr,
#edit-table th,
#edit-table td,
#edit-table tbody{
    padding-right: 0;
    padding-left: 0;
}