<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="CycleTrack is a free system for tracking and visualizing medical school applications while crowdsourcing data to make admissions more transparent." />
        <title>{% block title %}CycleTrack{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
        <!-- Bootstrap icons + CSS-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" />
        <!-- Jquery CSS -->
        <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    </head>
</html>
<body>
<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<!-- Custom Functions -->
<script src="{{ url_for('static', filename='/js/functions.js') }}"></script>
<!-- Jquery -->
<script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>

{% block additional_js %}{% endblock %}
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm" id="mainNav">
    <div class="container px-5">
        <a class="navbar-brand fw-bold" href="{{ url_for('pages.index') }}">
            <img src="{{ url_for('static', filename='images/Docs2Be.webp') }}" height="30px" width="auto"/> CycleTrack
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi-list"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
                <li class="nav-item"><a class="nav-link me-lg-3" href="{{ url_for('dashboard.cycles') }}">Dashboard</a></li>
                <li class="nav-item"><a class="nav-link me-lg-3" href="{{ url_for('explorer.explorer_home') }}">Explore Live Data</a></li>
            </ul>
            {% if user.is_authenticated %}
            <a class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" href="{{ url_for('authentication.logout') }}">
                        <span class="d-flex align-items-center">
                            <i class="bi bi-person-circle me-2"></i>
                            <span class="small">Logout</span>
                        </span>
            </a>
            {% else %}

            <button class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" data-bs-toggle="modal" data-bs-target="#login">
                <span class="d-flex align-items-center">
                    <i class="bi bi-person-circle me-2"></i><span class="small">Login</span>
                </span>
            </button>
            {% endif %}
        </div>
    </div>
</nav>

{% block content %}
{% endblock %}

<!-- LOGIN -->
<div class="modal fade" id="login" tabindex="-1" aria-labelledby="login" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Login</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            <form method="POST" action="{{ url_for('authentication.login') }}" method="POST">
                <div class="modal-body">
                    <p>Please sign-in to access CycleTrack tools. If you do not have an account, you can register your
                    free account by clicking <a href="{{ url_for('authentication.register') }}">here</a>.</p>
                    <div class="form-group" style="padding-bottom:10px">
                        <label for="email">Email Address</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" />
                    </div>
                    <div class="form-group" style="padding-bottom:10px">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" />
                        <small><a href="{{ url_for('authentication.forgot_password') }}">Forgot Password?</a></small>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Login</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- FOOTER -->
<footer class="py-3 my-4 mt-auto" id="footer">
    <div class="container">
        <p class="text-center" style="margin-bottom: 0px">
            <a href="https://github.com/RunningMSN/CycleTrack" target="_blank">
                <i class="bi bi-github text-muted" style="font-size: 1.5rem"></i>
            </a>
        </p>
        <p class="text-center">
            <a href="{{ url_for('pages.privacy') }}" class="text-muted">Privacy Policy</a> |
            <a href="{{ url_for('pages.terms') }}" class="text-muted">Terms and Conditions</a> |
            <a href="{{ url_for('pages.changelog') }}" class="text-muted">Changelog</a>
        </p>
    </div>


    <button type="button" class="btn rounded-circle btn-sm" data-bs-toggle="modal" data-bs-target="#support-modal" style="position: fixed; bottom: 20px; right: 20px; font-size: 2em; color: #fb94c5">
        <i class="bi bi-heart-fill"></i>
    </button>

    <div class="modal fade" id="support-modal" tabindex="-1" aria-labelledby="support-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Support CycleTrack</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Making medical school admissions more transparent and accessible for
                        <span style="text-decoration:underline;">all applicants</span> is our mission. There are many
                        ways to support our platform.
                    </p>
                    <a href="https://www.paypal.com/donate/?hosted_button_id=6LVAD9FZQVQ7J"
                       class="btn btn-outline-primary" style="width: 100%; margin-top:10px">
                        <h5>Contribute Financially</h5>
                        <p>We currently pay the cost of site upkeep from our MD-PhD program living stipend. Any
                            contribution will support our mission, and help keep CycleTrack available for future
                            applicants.
                        </p>
                        <p>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-paypal" viewBox="0 0 16 16">
                                <path d="M14.06 3.713c.12-1.071-.093-1.832-.702-2.526C12.628.356 11.312 0 9.626 0H4.734a.7.7 0 0 0-.691.59L2.005 13.509a.42.42 0 0 0 .415.486h2.756l-.202 1.28a.628.628 0 0 0 .62.726H8.14c.429 0 .793-.31.862-.731l.025-.13.48-3.043.03-.164.001-.007a.35.35 0 0 1 .348-.297h.38c1.266 0 2.425-.256 3.345-.91q.57-.403.993-1.005a4.94 4.94 0 0 0 .88-2.195c.242-1.246.13-2.356-.57-3.154a2.7 2.7 0 0 0-.76-.59l-.094-.061ZM6.543 8.82a.7.7 0 0 1 .321-.079H8.3c2.82 0 5.027-1.144 5.672-4.456l.003-.016q.326.186.548.438c.546.623.679 1.535.45 2.71-.272 1.397-.866 2.307-1.663 2.874-.802.57-1.842.815-3.043.815h-.38a.87.87 0 0 0-.863.734l-.03.164-.48 3.043-.024.13-.001.004a.35.35 0 0 1-.348.296H5.595a.106.106 0 0 1-.105-.123l.208-1.32z"/>
                            </svg>
                            Donate via Paypal
                        </p>
                    </a>
                    <a href="mailto:admin@cycletrack.org"
                       class="btn btn-outline-info" style="width: 100%; margin-top:10px">
                        <h5>Contribute Your Time</h5>
                        <p>You can support our mission by contributing to the CycleTrack project. Any students
                            (coding or no coding experience) are welcome to contribute. To learn
                            about opportunities to participate, please send us an email at admin@cycletrack.org.
                        </p>
                        <p>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-envelope" viewBox="0 0 16 16">
                                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"/>
                            </svg>
                            Send us an Email
                        </p>
                    </a>
                    <button
                            class="btn btn-outline-success" style="width: 100%; margin-top:10px">
                        <h5>Contribute Your Network</h5>
                        <p>We'd love our free resources to be available to all applicants! Sharing our platform
                            with friends and other applicants on social media or by word-of-mouth can help support
                            our mission.
                        </p>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- COOKIES MESSAGE -->
{% if not cookies_check() %}
<footer id="cookie-footer" class="cookie-footer">
    {# show a cookie consent banner #}
    <div id="cookie-consent-container" class="container">
        <div class="row">
            <div class="col-auto">
                <h3>Cookies |</h3>
            </div>
            <div class="col-9">
                    This website uses cookies to ensure the best experience on our website. We only use cookies for site
            functionality and analytics. To find out more, read our <a href="{{ url_for('pages.privacy') }}" class="text-muted">Privacy Policy</a>.
            </div>
            <div class="col-auto">
                <button id="cookie-consent" class="btn btn-outline-dark">Agree</button>
            </div>
        </div>
    </div>
    <script>
                var fn = function () {
                    document.cookie = "cookie_consent=true";
                    document.getElementById('cookie-consent-container').hidden = true;
                    document.getElementById('cookie-footer').classList.add("d-none");
                };
                document.getElementById('cookie-consent').onclick = fn;
    </script>
</footer>
{% endif %}
<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
</body>