{% extends 'base.html' %}
{% block title %} Changelog {% endblock %}
{% block content %}
<div class="container" style="padding-top:10px">
    <h2>Changelog</h2>
    For the most recent and technical updates, visit our <a href="https://github.com/RunningMSN/CycleTrack">GitHub repository</a>!
    <h4>Suggestions and bug reports</h4>
    <p>Suggestions and bug reports can now be filed through your dashboard. We welcome feedback that will continue to help improve CycleTrack!</p>
    <h4>Color palettes</h4>
    <p>2 new color palettes have been added to create more color-safe visualizations.</p>
    <b>Default</b>
    <div class="container-fluid">
        <div class="row justify-content-md-center palette-box" style="height: 100px">
            <div class="col border border-light d-flex justify-content-center align-items-center" style="background-color:#90e0ef">Primary</div>
            <div class="col border border-light d-flex justify-content-center align-items-center" style="background-color:#00b4d8">Secondary</div>
            <div class="col border border-light d-flex justify-content-center align-items-center" style="background-color:#0077b6">Complete</div>
            <div class="col border border-light d-flex justify-content-center align-items-center" style="background-color:#9932CC">Int Invite</div>
            <div class="col border border-light d-flex justify-content-center align-items-center" style="background-color:#8B008B; color:white">Int Compl</div>
            <div class="col border border-light d-flex justify-content-center align-items-center" style="background-color:#FF0000">Rejected</div>
            <div class="col border border-light d-flex justify-content-center align-items-center" style="background-color:#FFA500">Waitlist</div>
            <div class="col border border-light d-flex justify-content-center align-items-center" style="background-color:#008000">Accepted</div>
            <div class="col border border-light d-flex justify-content-center align-items-center" style="background-color:#808080; color:white">Withdrawn</div>
        </div>
    </div>

    <b><a href="https://mikemol.github.io/technique/colorblind/2018/02/11/color-safe-palette.html">Okabe-Ito</a></b>
    <div class="container-fluid">
        <div class="row justify-content-md-center" style="height: 100px">
            <div class="col border border-light d-flex justify-content-center align-items-center" style="background-color:#F0E442">Primary</div>
            <div class="col border border-light d-flex justify-content-center align-items-center" style="background-color:#56B4E9">Secondary</div>
            <div class="col border border-light d-flex justify-content-center align-items-center" style="background-color:#0072B2">Complete</div>
            <div class="col border border-light d-flex justify-content-center align-items-center" style="background-color:#E69F00">Int Invite</div>
            <div class="col border border-light d-flex justify-content-center align-items-center" style="background-color:#CC79A7">Int Compl</div>
            <div class="col border border-light d-flex justify-content-center align-items-center" style="background-color:#7a7a7a">Rejected</div>
            <div class="col border border-light d-flex justify-content-center align-items-center" style="background-color:#de91ff">Waitlist</div>
            <div class="col border border-light d-flex justify-content-center align-items-center" style="background-color:#009E73">Accepted</div>
            <div class="col border border-light d-flex justify-content-center align-items-center" style="background-color:#000000; color:white">Withdrawn</div>
        </div>
    </div>
    <b><a href="https://personal.sron.nl/~pault/">Tol</a></b>
    <div class="container-fluid">
        <div class="row justify-content-md-center" style="height: 100px">
            <div class="col border border-light d-flex justify-content-center align-items-center" style="background-color:#ddcc77">Primary</div>
            <div class="col border border-light d-flex justify-content-center align-items-center" style="background-color:#88ccee">Secondary</div>
            <div class="col border border-light d-flex justify-content-center align-items-center" style="background-color:#331888; color:white">Complete</div>
            <div class="col border border-light d-flex justify-content-center align-items-center" style="background-color:#882255; color:white">Int Invite</div>
            <div class="col border border-light d-flex justify-content-center align-items-center" style="background-color:#117733">Int Compl</div>
            <div class="col border border-light d-flex justify-content-center align-items-center" style="background-color:#aa4499">Rejected</div>
            <div class="col border border-light d-flex justify-content-center align-items-center" style="background-color:#cc6677">Waitlist</div>
            <div class="col border border-light d-flex justify-content-center align-items-center" style="background-color:#44aa99">Accepted</div>
            <div class="col border border-light d-flex justify-content-center align-items-center" style="background-color:#b5b5b5">Withdrawn</div>
        </div>
    </div>
</div>

{% endblock %}