{% extends 'base.html' %}
{% block title %}Change Password{% endblock %}
{% block content %}
<div class="container">
    <form method="POST">
        <h2 style="padding-top: 10px">Change Password</h2>
        <div class="form-group" style="padding-bottom:10px">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" />
        </div>
        <div class="form-group" style="padding-bottom:10px">
            <label for="confirm_password">Confirm Password</label>
            <input type="password" class="form-control" id="confirm_password" name="confirm_password" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
