{% extends 'base.html' %}
{% block title %} Changelog {% endblock %}
{% block content %}
<div class="container" style="padding-top:10px">
    <h2>Changelog</h2>
    <p>The changelog features a summary of updates to CycleTrack. For minor updates and the most up-to-date information,
        please visit our <a href="https://github.com/RunningMSN/CycleTrack">GitHub repository</a>.</p>

    <div class="changelog-item">
        <details open>
            <summary class="h4">Servers, Secondary Costs, & SankeyMATIC (6/10/2024)</summary>
            <hr style="margin: 0px; margin-bottom:5px">
            <p>
                We've updated the backend of our server to a newer version of python which will allow us to work with
                updated versions of several packages. Additionally, today we released a feature to help crowdsource the
                costs secondary applications. This will allow us to build a cost prediction tool to help future
                applicants manage financial expectations. Furthermore, the sankey visualization now has pre-made code
                that can be entered into SankeyMATIC, a popular sankey graphic/manipulation tool. This will complement
                the pre-made sankey diagrams generated through CycleTrack.
            </p>
        </details>
    </div>

    <div class="changelog-item">
        <details>
            <summary class="h4">Some Quality of Life Changes (12/16/2023)</summary>
            <hr style="margin: 0px; margin-bottom:5px">
            <p>
                We've release a few quality of life changes across the site. For current applicants, the school
                explorer now offers an option to filter for the schools you've applied for. Schools you applied to are
                now highlighted with a gold star to help them stand out. Additionally, we've updated our
                backend system for updating the school list to make saving your edits far faster. Lastly, we've added
                front-end input validation on several forms such as registration and suggestions to help people navigate
                them more quickly and efficiently.
            </p>
        </details>
    </div>

    <div class="changelog-item">
        <details>
            <summary class="h4">Server, Explorer, Removing Unused Accounts, and More (11/26/2023)</summary>
            <hr style="margin: 0px; margin-bottom:5px">
            <p>
                Over the past months, we've rolled out a number of smaller changes. First off, in September we updated
                our backend server to greatly increase the website speed. Additionally, we changed the way the explorer
                works to make calculations and graphs in the background to avoid slowing users down with each visit.
                Graphs now use a log scale to better visualize both smaller and larger counts.
            </p>
            <p>
                Additionally, we are now automatically deleting accounts with unverified emails if they are not verified
                within 2 weeks to better report our true number of users and avoid unnecessary use of resources.
            </p>
        </details>
    </div>

    <div class="changelog-item">
        <details>
            <summary class="h4">Graph Sorting and Bug Fixes (3/31/2023)</summary>
            <hr style="margin: 0px; margin-bottom:5px">
            <p>
                We've added several new sorting options to better display schools in the dot plot and timeline graph.
                These include sorting alphabetically and by cycle status. We will continue considering other sorting
                options going forward.
            </p>
            <p>
                Some bugs have come to our attention that have been fixed. These included issues with the website
                crashing while creating bar graphs, action items not displaying properly on the timeline plot if there
                are multiple on the same day, and an issue with "Western University" appearing on several graphs when it
                was not in the school list.
            </p>
        </details>
    </div>

    <div class="changelog-item">
        <details>
            <summary class="h4">Updated Schools (12/3/2022)</summary>
            <hr style="margin: 0px; margin-bottom:5px">
            <p>
                The Charles R. Drew University MD (CDUMD) program has been added to the school list. Additionally, a
                spelling mistake in the name of the University of Central Florida has been corrected.
            </p>
        </details>
    </div>

    <div class="changelog-item">
        <details>
            <summary class="h4">CycleTrack Profiles (9/18/2022)</summary>
            <hr style="margin: 0px; margin-bottom:5px">
            <p>
                CycleTrack Profiles is a new feature that allows users to create custom pages. Profiles can be used to
                create a private report for yourself, or generate a page that you can share publicly with advisors,
                friends, family, or strangers.
            </p>
        </details>
    </div>

    <div class="changelog-item">
        <details>
            <summary class="h4">Privacy Policy and Analytics (9/10/2022)</summary>
            <hr style="margin: 0px; margin-bottom:5px">
            <p>
                Our <a href="{{url_for('pages.privacy')}}">privacy policy</a> was updated to improve readability, provide
                information about the upcoming profiles feature, and include information about Google Analytics. Additionally,
                we have added Google Analytics to the site to help us understand how visitors interact with our website. This
                information will help us to continue improving CycleTrack.
            </p>
        </details>
    </div>

    <div class="changelog-item">
        <details>
            <summary class="h4">Bulk Adding Schools (7/10/2022)</summary>
            <hr style="margin: 0px; margin-bottom:5px">
            <p>
                We've updated the adding schools menu. You can now select as many schools as you like in a single
                session without needing to submit after every school.
            </p>
        </details>
    </div>

    <div class="changelog-item">
        <details>
            <summary class="h4">Timeline Visualization (6/14/2022)</summary>
            <hr style="margin: 0px; margin-bottom:5px">
            <p>
                The visualization menu now includes the 'Timeline' plot. This is an alternative to the dot plot that shows
                admissions outcomes for each school in a horizontal bar form. You can view an example on the
                <a href="{{url_for('pages.about')}}">about page</a>.
            </p>
        </details>
    </div>

    <div class="changelog-item">
        <details>
            <summary class="h4">Quick Filters (5/30/2022)</summary>
            <hr style="margin: 0px; margin-bottom:5px">
            <p>
                The school explorer now filters schools based on your selections in real time. No need to reload the
                page. We've also added a filter to the school list to quickly jump between schools of different program
                types i.e. MD/DO/MD-PHD/DO-PhD.

                Edit: On 6/3 we added an additional filter to the school list to quickly filter for schools that have a
                specific status such as primary submitted, interviewed, accepted, etc.
            </p>
        </details>
    </div>

    <div class="changelog-item">
        <details>
            <summary class="h4">GPA Calculator (5/23/2022)</summary>
            <hr style="margin: 0px; margin-bottom:5px">
            <p>
                We've added a GPA calculator to the applicant dashboard. You can past/current/future courses in the
                course list and it will calculate your GPA separately using criteria from AMCAS, AACOMAS, and TMDSAS.
            </p>
        </details>
    </div>

    <div class="changelog-item">
        <details>
            <summary class="h4">Letters of Recommendation/Website Links (5/14/2022)</summary>
            <hr style="margin: 0px; margin-bottom:5px">
            <p>
                We've compiled links to letter of recommendation requirements, program websites, and MSAR/Choose DO Explorer
                pages for the majority of medical schools. These links can be seen at the top of school pages in the school
                explorer.
            </p>
        </details>
    </div>

    <div class="changelog-item">
        <details>
            <summary class="h4">Updated School List (5/11/2022)</summary>
            <hr style="margin: 0px; margin-bottom:5px">
            <p>
                We've redesigned the school list. We've moved away from the table format toward a cleaner design that
                gives us more space and flexibility for additional features. Notes are now easier to read and we plan to
                additional expandable features to give additional pertinent information about the programs you've applied
                to.
            </p>
        </details>
    </div>

    <div class="changelog-item">
        <details>
            <summary class="h4">Notes & Explorer Performance Updates (5/03/2022)</summary>
            <hr style="margin: 0px; margin-bottom:5px">
            <p>
                The school list edit menu now has a notes feature for keep tracking of any school specific information.
                Your notes will appear under admissions actions dates on large or medium screens. On phones, you can
                continue to access the note within the editing menu.
            </p>
            <p>
                As the size of our database has grown, the explorer home page began to load extremely slowly. We have
                reworked the backend of this page to speed up the loading and this will continue to be our focus over
                the coming few weeks.
            </p>
        </details>
    </div>

    <div class="changelog-item">
        <details>
            <summary class="h4">Statistics on Visualizations (3/25/2022)</summary>
            <hr style="margin: 0px; margin-bottom:5px">
            <p>
                The visualizations settings now offer the option to display your demographics on the graph itself. You can
                choose to display the raw numbers or binned into categories to better anonymize your data.
            </p>
        </details>
    </div>

    <div class="changelog-item">
        <details>
            <summary class="h4">Canadian Schools & Stylistic Updates to Visualizations (3/23/2022)</summary>
            <hr style="margin: 0px; margin-bottom:5px">
            <p>
                We've added Canadian schools to CycleTrack for all of our friends up north! You can also now choose to plot your school maps
                with either only the US or all of North America. 
            </p>
            <p>
                We've made some stylistic improvements to some of the visualization options. 
                Dot plots will be a bit taller now for those of you with shorter school lists. And, you can now drag the nodes on your Sankey diagram
                if the position isn't where you want it to be. 
            </p>
        </details>
    </div>

    <div class="changelog-item">
        <details>
            <summary class="h4">Bulk Editing School Lists (3/12/2022)</summary>
            <hr style="margin: 0px; margin-bottom:5px">
            <p>While viewing the school lists on larger screens, there is now the option to edit the data for multiple schools
                in your school list at once. You can edit or remove dates and delete schools with this feature. 
            </p>
        </details>
        
    </div>


    <div class="changelog-item">
        <details>
            <summary class="h4">Visualizations Panel (3/12/2022)</summary>
            <hr style="margin: 0px; margin-bottom:5px">
            <p>The visualizations panel has been updated with a cleaner look. The options to select from are catered to
            information from a user's cycle and will save between generating new visualizations.</p>
        </details>
    </div>

    <div class="changelog-item">
        <details>
            <summary class="h4">Color Palettes (3/10/2022)</summary>
            <hr style="margin: 0px; margin-bottom:5px">
            <p>Two new color palettes have been added to create more color-safe visualizations.</p>
            <!-- DEFAULT -->
            <b>Default</b>
            <div class="container-fluid">
                <div class="row">
                    <div class="col d-flex justify-content-center align-items-center palette-display-box" style="background-color:#90e0ef">Primary</div>
                    <div class="col d-flex justify-content-center align-items-center palette-display-box" style="background-color:#00b4d8">Secondary</div>
                    <div class="col d-flex justify-content-center align-items-center palette-display-box" style="background-color:#0077b6">Application Complete</div>
                    <div class="col d-flex justify-content-center align-items-center palette-display-box" style="background-color:#9932CC">Interview Invite</div>
                    <div class="col d-flex justify-content-center align-items-center palette-display-box" style="background-color:#8B008B; color:white">Interview Complete</div>
                    <div class="col d-flex justify-content-center align-items-center palette-display-box" style="background-color:#FF0000">Rejected</div>
                    <div class="col d-flex justify-content-center align-items-center palette-display-box" style="background-color:#FFA500">Waitlist</div>
                    <div class="col d-flex justify-content-center align-items-center palette-display-box" style="background-color:#008000">Accepted</div>
                    <div class="col d-flex justify-content-center align-items-center palette-display-box" style="background-color:#808080; color:white">Withdrawn</div>
                </div>
            </div>
            <!-- OKABE-ITO -->
            <b><a href="https://mikemol.github.io/technique/colorblind/2018/02/11/color-safe-palette.html">Okabe-Ito</a></b>
            <div class="container-fluid">
                <div class="row">
                    <div class="col d-flex justify-content-center align-items-center palette-display-box" style="background-color:#F0E442">Primary</div>
                    <div class="col d-flex justify-content-center align-items-center palette-display-box" style="background-color:#56B4E9">Secondary</div>
                    <div class="col d-flex justify-content-center align-items-center palette-display-box" style="background-color:#0072B2">Application Complete</div>
                    <div class="col d-flex justify-content-center align-items-center palette-display-box" style="background-color:#E69F00">Interview Invite</div>
                    <div class="col d-flex justify-content-center align-items-center palette-display-box" style="background-color:#CC79A7">Interview Complete</div>
                    <div class="col d-flex justify-content-center align-items-center palette-display-box" style="background-color:#7a7a7a">Rejected</div>
                    <div class="col d-flex justify-content-center align-items-center palette-display-box" style="background-color:#de91ff">Waitlist</div>
                    <div class="col d-flex justify-content-center align-items-center palette-display-box" style="background-color:#009E73">Accepted</div>
                    <div class="col d-flex justify-content-center align-items-center palette-display-box" style="background-color:#000000; color:white">Withdrawn</div>
                </div>
            </div>
            <!-- TOL -->
            <b><a href="https://personal.sron.nl/~pault/">Tol</a></b>
            <div class="container-fluid">
                <div class="row">
                    <div class="col d-flex justify-content-center align-items-center palette-display-box" style="background-color:#ddcc77">Primary</div>
                    <div class="col d-flex justify-content-center align-items-center palette-display-box" style="background-color:#88ccee">Secondary</div>
                    <div class="col d-flex justify-content-center align-items-center palette-display-box" style="background-color:#331888; color:white">Application Complete</div>
                    <div class="col d-flex justify-content-center align-items-center palette-display-box" style="background-color:#882255; color:white">Interview Invite</div>
                    <div class="col d-flex justify-content-center align-items-center palette-display-box" style="background-color:#117733">Interview Complete</div>
                    <div class="col d-flex justify-content-center align-items-center palette-display-box" style="background-color:#aa4499">Rejected</div>
                    <div class="col d-flex justify-content-center align-items-center palette-display-box" style="background-color:#cc6677">Waitlist</div>
                    <div class="col d-flex justify-content-center align-items-center palette-display-box" style="background-color:#44aa99">Accepted</div>
                    <div class="col d-flex justify-content-center align-items-center palette-display-box" style="background-color:#000000; color:white">Withdrawn</div>
                </div>
            </div>
        </details>
    </div>

    <div class="changelog-item">
        <details>
            <summary class="h4">Suggestions & Bug Reports (3/09/2022)</summary>
            <hr style="margin: 0px; margin-bottom:5px">
            <p>A suggestions and bug reports form has been added to your dashboard. We welcome feedback that will
                continue to help improve CycleTrack!</p>
        </details>
    </div>
</div>

{% endblock %}