{% extends 'base.html' %}
{% block title %} Changelog {% endblock %}
{% block content %}
<div class="container" style="padding-top:10px">
    <h2>Changelog</h2>
    <p>The changelog features a summary of updates to CycleTrack. For minor updates and the most up-to-date information,
        please visit our <a href="https://github.com/RunningMSN/CycleTrack">GitHub repository</a>.</p>

    <div class="changelog-item">
        <details>
            <summary class="h4">Letters of Recommendation/Website Links (5/14/2022)</summary>
            <hr style="margin: 0px; margin-bottom:5px">
            <p>
                We've compiled links to letter of recommendation requirements, program websites, and MSAR/Choose DO Explorer
                pages for the majority of medical schools. These links can be seen at the top of school pages in the school
                explorer.
            </p>
        </details>
    </div>

    <div class="changelog-item">
        <details>
            <summary class="h4">Updated School List (5/11/2022)</summary>
            <hr style="margin: 0px; margin-bottom:5px">
            <p>
                We've redesigned the school list. We've moved away from the table format toward a cleaner design that
                gives us more space and flexibility for additional features. Notes are now easier to read and we plan to
                additional expandable features to give additional pertinent information about the programs you've applied
                to.
            </p>
        </details>
    </div>

    <div class="changelog-item">
        <details>
            <summary class="h4">Notes & Explorer Performance Updates (5/03/2022)</summary>
            <hr style="margin: 0px; margin-bottom:5px">
            <p>
                The school list edit menu now has a notes feature for keep tracking of any school specific information.
                Your notes will appear under admissions actions dates on large or medium screens. On phones, you can
                continue to access the note within the editing menu.
            </p>
            <p>
                As the size of our database has grown, the explorer home page began to load extremely slowly. We have
                reworked the backend of this page to speed up the loading and this will continue to be our focus over
                the coming few weeks.
            </p>
        </details>
    </div>

    <div class="changelog-item">
        <details>
            <summary class="h4">Statistics on Visualizations (3/25/2022)</summary>
            <hr style="margin: 0px; margin-bottom:5px">
            <p>
                The visualizations settings now offer the option to display your demographics on the graph itself. You can
                choose to display the raw numbers or binned into categories to better anonymize your data.
            </p>
        </details>
    </div>

    <div class="changelog-item">
        <details>
            <summary class="h4">Canadian Schools & Stylistic Updates to Visualizations (3/23/2022)</summary>
            <hr style="margin: 0px; margin-bottom:5px">
            <p>
                We've added Canadian schools to CycleTrack for all of our friends up north! You can also now choose to plot your school maps
                with either only the US or all of North America. 
            </p>
            <p>
                We've made some stylistic improvements to some of the visualization options. 
                Dot plots will be a bit taller now for those of you with shorter school lists. And, you can now drag the nodes on your Sankey diagram
                if the position isn't where you want it to be. 
            </p>
        </details>
    </div>

    <div class="changelog-item">
        <details>
            <summary class="h4">Bulk Editing School Lists (3/12/22)</summary>
            <hr style="margin: 0px; margin-bottom:5px">
            <p>While viewing the school lists on larger screens, there is now the option to edit the data for multiple schools
                in your school list at once. You can edit or remove dates and delete schools with this feature. 
            </p>
        </details>
        
    </div>


    <div class="changelog-item">
        <details>
            <summary class="h4">Visualizations Panel (3/12/2022)</summary>
            <hr style="margin: 0px; margin-bottom:5px">
            <p>The visualizations panel has been updated with a cleaner look. The options to select from are catered to
            information from a user's cycle and will save between generating new visualizations.</p>
        </details>
    </div>

    <div class="changelog-item">
        <details>
            <summary class="h4">Color Palettes (3/10/2022)</summary>
            <hr style="margin: 0px; margin-bottom:5px">
            <p>Two new color palettes have been added to create more color-safe visualizations.</p>
            <!-- DEFAULT -->
            <b>Default</b>
            <div class="container-fluid">
                <div class="row">
                    <div class="col d-flex justify-content-center align-items-center palette-display-box" style="background-color:#90e0ef">Primary</div>
                    <div class="col d-flex justify-content-center align-items-center palette-display-box" style="background-color:#00b4d8">Secondary</div>
                    <div class="col d-flex justify-content-center align-items-center palette-display-box" style="background-color:#0077b6">Application Complete</div>
                    <div class="col d-flex justify-content-center align-items-center palette-display-box" style="background-color:#9932CC">Interview Invite</div>
                    <div class="col d-flex justify-content-center align-items-center palette-display-box" style="background-color:#8B008B; color:white">Interview Complete</div>
                    <div class="col d-flex justify-content-center align-items-center palette-display-box" style="background-color:#FF0000">Rejected</div>
                    <div class="col d-flex justify-content-center align-items-center palette-display-box" style="background-color:#FFA500">Waitlist</div>
                    <div class="col d-flex justify-content-center align-items-center palette-display-box" style="background-color:#008000">Accepted</div>
                    <div class="col d-flex justify-content-center align-items-center palette-display-box" style="background-color:#808080; color:white">Withdrawn</div>
                </div>
            </div>
            <!-- OKABE-ITO -->
            <b><a href="https://mikemol.github.io/technique/colorblind/2018/02/11/color-safe-palette.html">Okabe-Ito</a></b>
            <div class="container-fluid">
                <div class="row">
                    <div class="col d-flex justify-content-center align-items-center palette-display-box" style="background-color:#F0E442">Primary</div>
                    <div class="col d-flex justify-content-center align-items-center palette-display-box" style="background-color:#56B4E9">Secondary</div>
                    <div class="col d-flex justify-content-center align-items-center palette-display-box" style="background-color:#0072B2">Application Complete</div>
                    <div class="col d-flex justify-content-center align-items-center palette-display-box" style="background-color:#E69F00">Interview Invite</div>
                    <div class="col d-flex justify-content-center align-items-center palette-display-box" style="background-color:#CC79A7">Interview Complete</div>
                    <div class="col d-flex justify-content-center align-items-center palette-display-box" style="background-color:#7a7a7a">Rejected</div>
                    <div class="col d-flex justify-content-center align-items-center palette-display-box" style="background-color:#de91ff">Waitlist</div>
                    <div class="col d-flex justify-content-center align-items-center palette-display-box" style="background-color:#009E73">Accepted</div>
                    <div class="col d-flex justify-content-center align-items-center palette-display-box" style="background-color:#000000; color:white">Withdrawn</div>
                </div>
            </div>
            <!-- TOL -->
            <b><a href="https://personal.sron.nl/~pault/">Tol</a></b>
            <div class="container-fluid">
                <div class="row">
                    <div class="col d-flex justify-content-center align-items-center palette-display-box" style="background-color:#ddcc77">Primary</div>
                    <div class="col d-flex justify-content-center align-items-center palette-display-box" style="background-color:#88ccee">Secondary</div>
                    <div class="col d-flex justify-content-center align-items-center palette-display-box" style="background-color:#331888; color:white">Application Complete</div>
                    <div class="col d-flex justify-content-center align-items-center palette-display-box" style="background-color:#882255; color:white">Interview Invite</div>
                    <div class="col d-flex justify-content-center align-items-center palette-display-box" style="background-color:#117733">Interview Complete</div>
                    <div class="col d-flex justify-content-center align-items-center palette-display-box" style="background-color:#aa4499">Rejected</div>
                    <div class="col d-flex justify-content-center align-items-center palette-display-box" style="background-color:#cc6677">Waitlist</div>
                    <div class="col d-flex justify-content-center align-items-center palette-display-box" style="background-color:#44aa99">Accepted</div>
                    <div class="col d-flex justify-content-center align-items-center palette-display-box" style="background-color:#000000; color:white">Withdrawn</div>
                </div>
            </div>
        </details>
    </div>

    <div class="changelog-item">
        <details>
            <summary class="h4">Suggestions & Bug Reports (3/09/2022)</summary>
            <hr style="margin: 0px; margin-bottom:5px">
            <p>A suggestions and bug reports form has been added to your dashboard. We welcome feedback that will
                continue to help improve CycleTrack!</p>
        </details>
    </div>
</div>

{% endblock %}