{% extends 'dashboard.html' %}
{% block title %} Dashboard {% endblock %}
{% block dash_content %}
<!-- CYCLE MANAGEMENT -->
<div id="cycles" class="container" style="padding-top:10px">
    <h2>My Application Cycles</h2>
    {% if user.cycles|length > 0 %}
    {% for cycle in user.cycles %}
    <!-- SETUP MODAL FOR EDITING EACH CYCLE -->
    <div class="modal fade" id="{{ cycle.cycle_year }}-modal_edit" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="POST">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit {{ cycle.cycle_year }} Cycle Information</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div style="padding-bottom: 10px">
                            You may leave any questions blank if you don't feel comfortable sharing.
                            <a href="{{ url_for('pages.privacy') }}#cycleinfo">Why we collect this information?</a>
                            </div>
                        <div>
                                <input type="hidden" id="cycle_id_edit" name="cycle_id_edit" value="{{ cycle.id }}">
                                <div>

                                    <table class="table">
                                        <tr><td colspan="2"><h5>Demographics</h5></td></tr>
                                        <tr>
                                            <td>Gender</td>
                                            <td>
                                                <select name="gender" id="gender" class="btn-sm modalinput">
                                                    <option value=""></option>
                                                    {% for gender in gender_options %}
                                                    {% if gender == cycle.gender %}
                                                    <option selected="{{ cycle.gender }}">{{ cycle.gender }}</option>
                                                    {% else %}
                                                    <option value="{{ gender }}">{{ gender }}</option>
                                                    {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Sex</td>
                                            <td>
                                                <select name="sex" id="sex" class="btn-sm modalinput">
                                                    <option value=""></option>
                                                    {% for sex in sex_options %}
                                                    {% if sex == cycle.sex %}
                                                    <option selected="{{ cycle.sex }}">{{ cycle.sex }}</option>
                                                    {% else %}
                                                    <option value="{{ sex }}">{{ sex }}</option>
                                                    {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Birth Mon/Yr</td>
                                            <td><input type="text" name="birth_month_year" id="birth_month_year" class="modalinput" placeholder="MM/YYYY" {% if cycle.birth_month %}value="{{ cycle.birth_month }}/{{ cycle.birth_year }}"{% endif %}/></input></td>
                                        </tr>
                                        <tr>
                                            <td>Race/Ethnicity</td>
                                            <td>
                                                <select name="race_ethnicity" id="race_ethnicity" class="btn-sm modalinput">
                                                    <option value=""></option>
                                                    {% for race_ethnicity in race_ethnicity_options %}
                                                    {% if race_ethnicity == cycle.race_ethnicity %}
                                                    <option selected="{{ cycle.race_ethnicity }}">{{ cycle.race_ethnicity }}</option>
                                                    {% else %}
                                                    <option value="{{ race_ethnicity }}">{{ race_ethnicity }}</option>
                                                    {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Home State</td>
                                            <td>
                                                <select name="home_state" id="home_state" class="btn-sm modalinput">
                                                    <option value=""></option>
                                                    {% for state in state_options %}
                                                    {% if state == cycle.home_state %}
                                                    <option selected="{{ cycle.home_state }}">{{ cycle.home_state }}</option>
                                                    {% else %}
                                                    <option value="{{ state }}">{{ state }}</option>
                                                    {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </td>
                                        </tr>
                                        <tr><td colspan="2"><h5>GPA</h5></td></tr>
                                        <tr>
                                            <td>cGPA</td>
                                            <td><input type="text" name="cgpa" id="cgpa" class="modalinput" {% if cycle.cgpa %}value="{{ cycle.cgpa }}"{% endif %}/></input></td>
                                        </tr>
                                        <tr>
                                            <td>sGPA</td>
                                            <td><input type="text" name="sgpa" id="sgpa" class="modalinput" {% if cycle.sgpa %}value="{{ cycle.sgpa }}"{% endif %}/></input></td>
                                        </tr>
                                        <tr><td colspan="2"><h5>MCAT</h5></td></tr>
                                        <tr>
                                            <td>MCAT Score</td>
                                            <td><input type="text" name="mcat_total" id="mcat_total" class="modalinput" {% if cycle.mcat_total %}value="{{ cycle.mcat_total }}"{% endif %}/></input></td>
                                        </tr>
                                        <tr>
                                            <td>C/P Score</td>
                                            <td><input type="text" name="mcat_cp" id="mcat_cp" class="modalinput" {% if cycle.mcat_cp %}value="{{ cycle.mcat_cp }}"{% endif %}/></input></td>
                                        </tr>
                                        <tr>
                                            <td>CARS Score</td>
                                            <td><input type="text" name="mcat_cars" id="mcat_cars" class="modalinput" {% if cycle.mcat_cars %}value="{{ cycle.mcat_cars }}"{% endif %}/></input></td>
                                        </tr>
                                        <tr>
                                            <td>B/B Score</td>
                                            <td><input type="text" name="mcat_bb" id="mcat_bb" class="modalinput" {% if cycle.mcat_bb %}value="{{ cycle.mcat_bb }}"{% endif %}/></input></td>
                                        </tr>
                                        <tr>
                                            <td>P/S Score</td>
                                            <td><input type="text" name="mcat_ps" id="mcat_ps" class="modalinput" {% if cycle.mcat_ps %}value="{{ cycle.mcat_ps }}"{% endif %}/></input></td>
                                        </tr>
                                    </table>
                                </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- SETUP MODAL FOR DELETION WARNING -->
    <div class="modal fade" id="{{ cycle.cycle_year }}-modal_delete" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete {{ cycle.cycle_year }} Cycle</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div style="padding: 10px;">
                            Are you sure you want to delete this cycle? Deleting the cycle will permanently remove any
                            school list and information associated with it.
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger" onclick="deleteCycle({{ cycle.id }})">Delete Cycle</button>
                    </div>
            </div>
        </div>
    </div>

    <li class="list-group-item">
        <table>
            <tr>
                <td><strong>{{ cycle.cycle_year }}</strong></td>
                <td>
                    <form method="POST" action="{{ url_for('pages.lists') }}">
                        <input type="hidden" id="view_cycle_id" name="cycle_id" value="{{ cycle.id }}">
                        <button type="submit" class="btn btn-link">View School List</button>
                    </form>
                </td>
                <td>
                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#{{ cycle.cycle_year }}-modal_edit">
                        Edit Cycle Profile
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#{{ cycle.cycle_year }}-modal_delete">
                        Delete Cycle
                    </button>
                </td>
            </tr>
        </table>


    </li>
    {% endfor %}
    {% else %}
    <p>You have not added any application cycles.</p>
    {% endif %}
    <!-- Add Cycles -->
    <form method="POST">
        <table>
            <tr>
                <td style="padding: 10px">Add a new cycle:</td>
                <td style="padding: 10px">
                    <select name="add_cycle" id="add_cycle" class="btn-sm">
                        {% for cycle_option in cycle_options[0:3] %}
                        <!-- Only allow entry in latest 3 cycles -->
                        <option value="{{ cycle_option }}">{{ cycle_option }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td style="padding: 10px">
                    <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                </td>

            </tr>
        </table>
    </form>
</div>
{% endblock %}