{% extends 'dashboard.html' %}
{% block title %} Dashboard {% endblock %}
{% block dash_content %}
<!-- CYCLE MANAGEMENT -->
<div id="cycles" class="container" style="padding-top:10px">
    <h1>My Application Cycles</h1>
    {% if user.cycles|length > 0 %}
    {% for cycle in user.cycles %}
    <li class="list-group-item">
        <table>
            <tr>
                <td><strong>{{ cycle.cycle_year }}</strong></td>
                <td>
                    <form method="POST" action="{{ url_for('pages.lists') }}">
                        <input type="hidden" id="view_cycle_id" name="cycle_id" value="{{ cycle.id }}">
                        <button type="submit" class="btn btn-link">View School List</button>
                    </form>
                </td>
                <td>
                    <form method="POST" action="{{ url_for('pages.lists') }}">
                        <input type="hidden" id="edit_cycle_id" name="cycle_id" value="{{ cycle.id }}">
                        <button type="submit" class="btn btn-link">Edit Cycle Profile</button>
                    </form>
                </td>
                <td>
                    <button type="button" class="btn-link btn" onclick="deleteCycle({{ cycle.id }})">Delete Cycle</button>
                </td>
            </tr>
        </table>



    </li>
    {% endfor %}
    {% else %}
    <p>You have not added any application cycles.</p>
    {% endif %}
    <!-- Add Cycles -->
    <form method="POST">
        <table>
            <tr>
                <td style="padding: 10px">Add a new cycle:</td>
                <td style="padding: 10px">
                    <select name="add_cycle" id="add_cycle" class="btn-sm">
                        {% for cycle_option in cycle_options[0:3] %}
                        <!-- Only allow entry in latest 3 cycles -->
                        <option value="{{ cycle_option }}">{{ cycle_option }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td style="padding: 10px">
                    <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                </td>

            </tr>
        </table>
    </form>
</div>
{% endblock %}