{% extends 'base.html' %}
{% block title %} {{ year }} Summary {% endblock %}
{% block additional_js %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}
{% block content %}
<!-- SCHOOL LIST MANAGEMENT -->
<div class="container" style="padding-top:10px">
    <h2>CycleTrack in {{ year }}</h2>
    <p>
        Welcome to our {{ year }} summary! This page contains information about the applications collected and
        CycleTrack users who applied in {{ year }}.
    </p>
</div>
<div class="container" style="padding:20px;padding-top:10px;padding-bottom:10px;background:#ebebeb">
    <div class="row">
        <div class="col-6" style="min-width: 500px">
            <div class="container bg-light" style="margin: 10px">
                <h4 style="padding:10px">Where Did People Apply?</h4>
                <div id="agg_map" class="agg_map"></div>
                <script>
                    fetch('{{ url_for('static', filename='agg_map/map.JSON') }}')
                        .then(response => response.json())
                        .then(data => {
                            data.config = {'responsive': true, 'displaylogo': false, 'scrollZoom': false};
                            Plotly.newPlot('agg_map', data);
                        })
                        .catch(error => console.log(error));
                </script>
            </div>
        </div>
        <div class="col-6" style="min-width: 500px">
            <div class="container bg-light" style="margin: 10px">
                <h4>Top Schools</h4>
                <p>Top schools that people can scroll through.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12" style="min-width: 500px">
            <div class="container bg-light" style="margin: 10px">
                <h4>Cycle Over Time</h4>
                Bar graph of secondaries sent out, acceptances, interviews, rejections. Similar to the individual
                school pages but overall.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6" style="min-width: 500px">
            <div class="container bg-light" style="margin: 10px">
                <h4>Interviews</h4>
                <p>Line graph of interviews over time.</p>
            </div>
        </div>
        <div class="col-6" style="min-width: 500px">
            <div class="container bg-light" style="margin: 10px">
                <h4>Acceptances</h4>
                <p>Line graph of acceptances over time.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}