{% extends 'base.html' %}
{% block title %} School Explorer {% endblock %}
{% block additional_js %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script src="{{ url_for('static', filename='/js/explorer_home.js') }}?v=20240717"></script>
    <script>
            $(function () {
              $('[data-toggle="tooltip"]').tooltip()
            })
    </script>
{% endblock %}
{% block content %}
<!-- SCHOOL LIST MANAGEMENT -->
<div class="container" style="padding-top:10px">
    <h2>School Explorer</h2>
    <p>The school explorer presents data about medical school applications. Please note that all information is either crowd-sourced
        through CycleTrack or publicly available. Due to the self-reported nature of data on CycleTrack, we provide
        information as is, and cannot ensure the accuracy of data to true admissions statistics. To view official data,
        please use resources provided by the <a
                href="https://students-residents.aamc.org/medical-school-admission-requirements/medical-school-admission-requirements-applicants">AAMC</a>
        (MD) and <a href="https://www.aacom.org/explore-med-schools/choose-do-explorer">AACOMAS</a> (DO) or official school/program websites. CycleTrack is not
        affiliated with any medical schools.
    </p>
    <p>
        A list of letter of recommendation requirements is located <a href="{{ url_for('pages.lors') }}">here</a>.
    </p>
</div>
<div class="container rounded" style="padding:20px;padding-top:10px;padding-bottom:10px;background:#ebebeb">
    <div class="row">
        {% if user.is_authenticated and user.cycles|length > 0 and user.research_contact == None%}
            <div class="col" style="padding:10px; min-width: 350px;"  id="research_invite">
                <div class="container rounded" style="background:white; padding:10px;" >
                    <h5>Can we contact your email in the future with an invitation to participate in a short survey or
                         focus group (<15-30min of your time)?</h5>
                    <p>
                         Our team is actively working on research projects to improve medical school admissions for all.
                         The voices of applicants such as yourself can truly make a difference.
                         Our goal is to produce publications that <u>change pre-medical advising</u> and <u>encourage policy
                         that increases admissions data transparency</u>. Note, your answer here is non-binding, we are
                         simply collecting a list of users we can contact in future. We aim to be able to compensate
                         research participants.
                     </p>
                    <button class="btn btn-outline-success" onclick="research('agree')">Of course!</button>
                    <button class="btn btn-outline-danger" onclick="research('disagree')">No thanks.</button>
                    <form id="research_form" action="{{ url_for('dashboard.research_form_submit') }}">
                        <input type="hidden" id="research_answer" name="research_answer" value=""/>
                    </form>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col" style="padding: 10px;">
            <div class="container rounded" style="background:white; padding:10px">
                <h4>Filter Schools</h4>
                <div class="row" style="padding-top:5px;padding-bottom:5px">
                    <div class="col">
                        <table>
                            <tr>
                                <td style="width: 120px"><strong>School Type: </strong></td>
                                <td>
                                    <select name="school_type" id="school_type" class="btn-sm form-control"
                                            style="width: 100px">
                                        <option value="All">All</option>
                                        <option value="MD">MD</option>
                                        <option value="DO">DO</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col">
                        <table>
                            <tr>
                                <td style="width: 120px"><strong>State: </strong></td>
                                <td>
                                    <select name="state" id="state" class="btn-sm form-control" style="width: 100px">
                                        <option value="All">All</option>
                                        {% for state in state_options %}
                                        <option value="{{ state_abbrev[state] }}">{{ state }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col">
                        <table>
                            <tr>
                                <td style="width: 120px"><strong>Country: </strong></td>
                                <td>
                                    <select name="country" id="country" class="btn-sm form-control"
                                            style="width: 100px">
                                        <option value="All">All</option>
                                        <option value="USA">USA</option>
                                        <option value="CAN">Canada</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="col {% if not current_applicant %}d-none{% endif %}">
                         <table>
                             <tr>
                                 <td>
                                     <label class="form-check-label" for="flexSwitchCheckDefault" style="padding-right: 10px"><strong>My Schools</strong></label>
                                 </td>
                                 <td>
                                     <div class="form-check form-switch">
                                         <input class="form-check-input" type="checkbox" role="switch"
                                                id="toggle_applied" style="height: 25px; width: 50px" onclick="filterSettings()">
                                     </div>
                                 </td>

                             </tr>
                         </table>
                    </div>
                </div>
                <div class="row" style="padding-top:5px;padding-bottom:5px">
                    <div class="col">
                          <div class="input-group">
                            <span class="input-group-text" id="school-search">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"></path>
                              </svg>
                            </span>
                            <input type="text" class="form-control" id="searchbar" placeholder="Search for school" aria-label="Search for school" aria-describedby="school-search">
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {% for key,value in schools.iterrows() %}
        <div class="col school_entry school_type_{{ value['type'] }} state_{{ value['state'] }} country_{{ value['country'] }} applied_{{ value['applied_to'] }}" style="padding:10px; min-width: 350px;" id="{{ value['name'] }} {{ value['official_name'] }} {{ value['intermediate_name'] }}">
            <a href="{{ url_for('explorer.explorer_home') }}/school/{{ value['name'] }}" style="color:black; text-decoration: none;">
                <div class="container rounded" style="background:white; padding:10px; transition: box-shadow 0.1s;" onmouseover="this.style.boxShadow='0 4px 8px 0 rgba(0, 0, 0, 0.2)';" onmouseout="this.style.boxShadow='none';">
                        <div class="col d-flex align-items-center justify-content-center" style="height: 100px;">
                                <img src="{{ url_for('static', filename='images/school_logos/' + value['logo_link']) }}" style="max-width:100px;max-height:100px" width="100%" height="auto">
                        </div>
                        <div>
                            <center>
                                 <strong>{% if value['applied_to'] %}<i class="bi bi-star-fill" style="color: gold"></i> {% endif %}{{ value['intermediate_name'] }}</strong>
                                <br>
                                {{ value['city'] }}, {{ value['state'] }} | {{ value['envt'] }} | {{ value['pub_pri'] }} Institution |  {{ value['type'] }}
                                <br>
                                {{ "{:,}".format(value['reg_apps'] + value['phd_apps']) }} Applications Tracked {% if value['phd_apps'] > 0 %}({{ "{:,}".format(value['phd_apps']) }} {{ value['type'] }}-PhD){% endif %}
                            </center>
                        </div>
                </div>
            </a>
        </div>
        {% endfor %}
        <div id="no_schools" class="col d-none" style="padding:10px;">
            <div class="container" style="background:white; padding:10px">
                No schools meet your filter criteria. Try changing the filter settings to see more schools.
            </div>
        </div>
    </div>
</div>
{% endblock %}