{% extends 'base.html' %}
{% block title %}Forgot Password{% endblock %}
{% block content %}
<div class="container">
    <form method="POST">
        <h2 style="padding-top: 10px">Forgot Password</h2>
        <p>Please enter your email address. We will email you with instructions to change your password.</p>
        <div class="form-group" style="padding-bottom:10px">
            <label for="email">Email Address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
