{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="p-5 mb-4" style="background: #ebebeb">
    <div class="container-fluid py-5">
        <div class="container">
            <h1 class="display-4">{{ app_count }} Applications. {{ school_count }} Med Schools. {{ user_count }} Future Doctors.</h1>
            <p class="lead">CycleTrack is a simple system for tracking and visualizing your medical school applications
            while crowdsourcing data to make the application process more transparent and less stressful.</p>
            <a href="{{ url_for('pages.about') }}"><button class="btn btn-primary">Learn More</button></a>
            <a href="{{ url_for('authentication.register') }}"><button class="btn btn-success">Join Now</button></a>
        </div>
    </div>
</div>

{% if graphJSON %}
<div class="container" style="padding-top:20px">
<div id="chart" class="chart"></div>
<script>
	var graphs = {{ graphJSON | safe }};
	graphs.config = {'responsive': true, 'displaylogo': false, 'scrollZoom': false}
    Plotly.newPlot('chart', graphs);
</script></div>
{% endif %}

{% endblock %}
