{% extends 'base.html' %}
{% block title %}CycleTrack{% endblock %}
{% block additional_js %}{% endblock %}
{% block content %}
<div class="p-5 mb-4" style="background: #ebebeb">
    <div class="container-fluid py-5">
        <div class="container">
            <h1 class="display-4">{{ app_count|format_integers_comma }} Applications. {{ school_count }} Med Schools. {{ user_count|format_integers_comma }} Future Doctors.</h1>
            <p class="lead">CycleTrack is a simple system for tracking and visualizing your medical school applications
            while crowdsourcing data to make the application process more transparent and less stressful.</p>
            <a href="{{ url_for('pages.about') }}"><button class="btn btn-primary">Learn More</button></a>
            {% if not user.is_authenticated %}<a href="{{ url_for('authentication.register') }}"><button class="btn btn-success">Join Now</button></a>{% endif %}
        </div>
    </div>
</div>


<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<div class="container d-none d-sm-none d-md-block" style="padding-top:20px">
    <div id="agg_map" class="agg_map"></div>
    <script>
        fetch('{{ url_for('static', filename='agg_map/map.JSON') }}')
            .then(response => response.json())
            .then(data => {
                data.config = {'responsive': true, 'displaylogo': false, 'scrollZoom': false};
                Plotly.newPlot('agg_map', data);
            })
            .catch(error => console.log(error));
    </script>
</div>



{% endblock %}
