{% extends 'dashboard.html' %}
{% block title %} {{ cycle.cycle_year }} School List {% endblock %}
{% block additional_js %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/css/bootstrap-select.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/js/bootstrap-select.min.js"></script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<script>
var status = 'all';
var program = 'all';

$(document).ready(function() {
    // Setup datepicker for bulk edit
    $(".datepicker").each(function(){
                var val = ($(this).val());
                var current = new Date(val);
                var current_utc = new Date(current.getUTCFullYear(), current.getUTCMonth(), current.getUTCDate());
                var timestamp = Date.parse(val);
                var cycle_year = $(this).data("cycle");
                var cycle_min = new Date(cycle_year -1, 04, 01);
                var cycle_max = new Date(cycle_year, 07, 31);

                $(this).datepicker({
                    showOtherMonths: true,
                    selectOtherMonths: true,
                    changeMonth: true,
                    changeYear: true,
                    dateFormat: 'mm/dd/y',
                    minDate: cycle_min,
                    maxDate: cycle_max,
                    showButtonPanel: true,
                    closeText: "Clear",
                    onClose: function (dateText, inst) {
                        function isDonePressed() {
                            return ($('#ui-datepicker-div').html().indexOf('ui-datepicker-close ui-state-default ui-priority-primary ui-corner-all ui-state-hover') > -1);
                        }
                        if (isDonePressed()){
                            $(this).datepicker('setDate',null)
                        }
                    },
                });

                if(isNaN(timestamp)==false){
                    $(this).datepicker("setDate",current_utc);
                };
        });


    // Change shown list by status
    $("#status_select").change(function() {
        status = $(this).val();
        filterSettings();
    });
    $("#program_select").change(function() {
        program = $(this).val();
        filterSettings();
    });
});

// Filter school list based on settings
function filterSettings() {
    var all_schools = document.getElementsByClassName('school_entry');
    var removeCount = 0;
    for (let i = 0; i < all_schools.length; i++) {
        var remove = false;
        // Check for program type
        if (program == 'all') {
            remove = false;
        } else if (program == 'MD-PhD') {
            if (all_schools[i].classList.contains('type_MD') && all_schools[i].classList.contains('phd_true')) {
                remove = false;
            } else {
                remove = true;
            }
        } else if (program == 'MD') {
            if (all_schools[i].classList.contains('type_MD') && all_schools[i].classList.contains('phd_false')) {
                remove = false;
            } else {
                remove = true;
            }
        } else if (program == 'DO-PhD') {
            if (all_schools[i].classList.contains('type_DO') && all_schools[i].classList.contains('phd_true')) {
                remove = false;
            } else {
                remove = true;
            }
        } else if (program == 'DO') {
            if (all_schools[i].classList.contains('type_DO') && all_schools[i].classList.contains('phd_false')) {
                remove = false;
            } else {
                remove = true;
            }
        }

        // Check for status
        if (!all_schools[i].classList.contains('status_' + status) && status != 'all') {
            remove = true;
        }

        // Perform remove if needed
        if (remove) {
            all_schools[i].classList.add('d-none');
            removeCount++;
        } else {
            all_schools[i].classList.remove('d-none');
        }
    }

    // Display no schools found message when number of schools removed matches school count
    var noSchools = document.getElementById('no_schools');
    if (all_schools.length == removeCount) {
        noSchools.classList.remove("d-none");
    } else {
        noSchools.classList.add("d-none");
    }
}

// Enter bulk edit mode
function toggleBulkEdit(){
    var normal = document.getElementsByClassName('normal_list');
    var bulk = document.getElementsByClassName('bulk_list');
    // Unhide bulk edits
    for (let i = 0; i < bulk.length; i++){
        bulk[i].classList.remove("d-none");
    }
    // Hide normal
    for (let i = 0; i < normal.length; i++){
        normal[i].classList.add("d-none");
    }
}

// Cancel bulk edit
function toggleCancel() {
    location.reload(true);
}
</script>
<script src="{{ url_for('static', filename='/js/list_bulk_add.js') }}"></script>
{% endblock %}
{% block dash_content %}

<div id="lists" class="container">
    <h2>My {{ cycle.cycle_year }} School List</h2>
    {% if phd_applicant %}
    <p>
        <a href="#" data-bs-toggle="tooltip" title="If you are being considered for MD/DO-only as well, please add an MD/DO-only second entry. If this consideration
        is after you have been rejected from the MD/DO-PhD program, please use your rejection date as the new application
                complete date." style="color:black;text-decoration-style:dotted">
            <span><i class="bi bi-info-circle-fill btn-link"></i></span>
            Note for Dual Degree Applicants
        </a>
    </p>
    {% endif %}
    <div class="row">
        <div class="col">
        {% if schools_to_add_secondary_cost|length > 0%}
        <!-- SETUP COST MODAL -->
        <div class="modal fade" id="add-cost-modal" tabindex="-1" aria-labelledby="add-cost-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                    <form method="POST">
                        <div class="modal-header">
                            <h5 class="modal-title">Secondary Costs</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>
                                Please enter the cost of the secondary application as an integer (e.g. 100 rather than $100).
                                If you qualified fee assistance at a school, please skip the school or enter the price it
                                would have cost without it.
                            </p>
                            <p>
                                Enter as many or few costs as you would like. We (and future applicants) greatly thank you!
                            </p>
                            <table class="table">
                                <thead>
                                <tr>
                                    <td>School</td>
                                    <td class="float-end" style="width: 100%">Secondary Cost ($)</td>
                                </tr>
                                </thead>
                                <tbody>
                                {% for index, school in schools_to_add_secondary_cost.iterrows() %}
                                <tr>
                                    <td>
                                        {% if school['type'] == 'Reg_to_PhD' %}
                                        You applied to {{ school['name'] }} as {{ school['prog_type'] }}-PhD and
                                        regular {{ school['prog_type'] }}. What was the additional cost of applying to the regular
                                        {{ school['prog_type'] }} program? If no additional cost, enter 0.
                                        {% else %}
                                        {{ school['name'] }} ({{ school['prog_type'] }}{% if school['type'] == 'PhD'
                                        %}-PhD{% endif %})
                                        {% endif %}
                                    </td>
                                    <td>
                                        <input type="text" name="cost-{{ school['school_id'] }}-{{ school['type'] }}"
                                               id="cost-{{ school['school_id'] }}-{{ school['type'] }}" class="modalinput"
                                               style="width: 100%"/>
                                    </td>
                                </tr>
                                {% endfor %}
                                <input type="hidden" name="input_cost" id="input_cost" value="true" />
                                <input type="hidden" name="cycle_id" id="cycle_id" value="{{ cycle.id }}" />
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- ASK TO ENTER -->
        <div class="container rounded" style="padding: 10px; margin-top: 10px; margin-bottom:10px; background-color: #90EE90" >
            <span style="vertical-align: middle">
                We are collecting the costs of secondary applications to help future applicants anticipate cost. If you are
                willing, please share the cost of secondary applications to some of your schools by clicking
                <btn class="btn btn-link" data-bs-toggle="modal" data-bs-target="#add-cost-modal" style="padding: 0px; margin: 0px; vertical-align:top">here</btn>. We
                will only ask you for costs that other applicants have not already shared.
            </span>
        </div>
        {% endif %}
            </div>
    </div>

    <div class="row">
        <div class="col-auto">
            <!-- EDIT SCHOOL LIST BUTTONS -->
            <button type="button" class="btn btn-primary rounded normal_list" data-bs-toggle="modal" data-bs-target="#add-school-modal" style="margin: 3px; margin-left: 0px">
                Add School
            </button>
            {% if cycle.schools|length > 0 %}
            <button class="btn btn-primary rounded normal_list" type="button" onclick="toggleBulkEdit()" style="margin: 3px;">
                Edit
            </button>
            {% endif %}
            <form method="POST" action="{{ url_for('dashboard.import_list') }}" style="position: relative; display:inline;">
                <input type="hidden" id="import_cycle_id" name="cycle_id" value="{{ cycle.id }}"/>
                <button type="submit" class="btn btn-primary normal_list" style="margin: 3px;">
                    Import From Spreadsheet
                </button>
            </form>
            {% if cycle.schools|length > 0 %}
            <form method="POST" action="{{ url_for('dashboard.export_list') }}" style="position: relative; display:inline;">
                <input type="hidden" id="export_cycle_id" name="cycle_id" value="{{ cycle.id }}"/>
                <button type="submit" class="btn btn-primary normal_list" style="margin: 3px;">
                    Export To Spreadsheet
                </button>
            </form>
            {% endif %}

            <!-- BULK EDIT BUTTONS -->
            <form method="POST" style="position: relative; display:inline;">
            <input type="hidden" value="{{cycle.id}}" name="cycle_id">
            <input type="hidden" value="true" name="bulk_edit">
            <input type="hidden" value="" id="edited_schools" name="edited_schools">

            <button class="btn btn-secondary rounded bulk_list d-none" type="submit" style="margin: 3px; margin-left: 0px;">
                Save Changes
            </button>
            <button class="btn btn-danger rounded bulk_list d-none" type="button" onclick="toggleCancel()" style="margin: 3px;">
                Cancel
            </button>
        </div>

        {% if cycle.schools|length > 0 %}
        <div class="col d-flex justify-content-end">
                <select class="btn-md form-control text-center" id="status_select" style="width: 150px; margin: 3px; position: relative; display:inline;">
                    <option value="all">All Status</option>
                    <option value="primary">Primary Submitted</option>
                    <option value="secondary">Secondary Received</option>
                    <option value="complete">App Complete</option>
                    <option value="hold">Pre-Interview Hold</option>
                    <option value="interview">Interviewed</option>
                    <option value="rejection">Rejected</option>
                    <option value="waitlist">Waitlist</option>
                    <option value="acceptance">Accepted</option>
                    <option value="withdrawn">Withdrawn</option>
                </select>
                {% if program_types|length > 1 %}
                <select class="btn-md form-control text-center" id="program_select" style="width: 150px; margin: 3px; margin-right: 0px; position: relative; display:inline;">
                    <option>All Programs</option>
                    {% for program in program_types %}
                    <option value="{{ program }}">{{ program }}</option>
                    {% endfor %}
                </select>
                {% endif %}
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-auto">
            {% if cycle.cycle_year == curr_cycle and cycle.schools|length > 0  %}
            <a class="btn btn-outline-primary rounded normal_list" data-bs-toggle="modal" data-bs-target="#secondary-order-modal" style="margin: 3px; margin-left: 0px">
                Essay Submission Optimization
            </a>
            {% endif %}
        </div>
    </div>

        <p id="no_schools" class="d-none">
            You do not have any schools that meet the filter criteria. Please edit the filters or add the school if it is missing.
        </p>

        {% if cycle.schools|length > 0 %}
        {% for school, profile in schools %}
        <li class="list-group-item border school_entry type_{{ school.school_type }} {% if school.phd %}phd_true{% else %}phd_false{% endif %}
            status_{%if school.acceptance %}acceptance
            {% elif school.withdrawn%}withdrawn
            {% elif school.rejection%}rejection
            {% elif school.waitlist %}waitlist
            {% elif school.interview_received %}interview
            {% elif school.pre_int_hold %}hold
            {% elif school.application_complete %}complete
            {% elif school.secondary_received %}secondary
            {% elif school.primary %}primary
            {%endif%}">

            <div class="row row-cols-2 py-2">
                <!-- SCHOOL LOGO AREA ON LEFT -->
                <div class="col-2 order-sm-1" style="text-align: center">
                    <!-- LOGO -->
                        <div class="row">
                            <a href="{{ url_for('explorer.explorer_home') }}/school/{{ school['name'] }}" class="normal_list">
                                <img src="{{ url_for('static', filename='images/school_logos/' + profile.logo_file_name) }}" style="max-width:100px;max-height:100px" width="100%" height="auto">
                            </a>
                            <a class="bulk_list d-none">
                                <img src="{{ url_for('static', filename='images/school_logos/' + profile.logo_file_name) }}" style="max-width:100px;max-height:100px" width="100%" height="auto">
                            </a>
                        </div>
                        <div class="mx-2 d-none d-md-block" style="margin-top: 5px">
                            {% if school.acceptance %}
                            <div class="text-center rounded" style="margin-top: 3px; background-color: #6af799">
                                <span style="margin-top: 3px; background-color: #6af799"> Accepted</span>
                            </div>
                            {% elif school.withdrawn %}
                            <div class="text-center rounded" style="margin-top: 3px; background-color: #d1d1d1">
                                Withdrawn
                            </div>
                            {% elif school.waitlist %}
                            <div class="text-center rounded" style="margin-top: 3px; background-color: #ffca80">
                                Waitlist
                            </div>
                            {% elif school.rejection %}
                            <div class="text-center rounded" style="1px; margin-top: 3px; background-color: #ff8282">
                                Rejected
                            </div>
                            {% elif school.interview_received %}
                            <div class="text-center rounded" style="1px; margin-top: 3px; background-color: #d9abff">
                                Interview
                            </div>
                            {% elif school.application_complete %}
                            <div class="text-center rounded" style="1px; margin-top: 3px; background-color: #0077b6">
                                Complete
                            </div>
                            {% elif school.secondary_received %}
                            <div class="text-center rounded" style="1px; margin-top: 3px; background-color: #00b4d8">
                                Secondary
                            </div>
                            {% endif %}
                        </div>
                        {% if most_recent[school.name] %}
                        <div class="row" style="font-size: 70%;">
                            <details>
                                <summary>Most recent:</summary>
                                <p>
                                    {% if most_recent[school.name]["interview"]%}
                                    <a href="#" data-bs-toggle="tooltip" title="Most recent reported interview invitation." style="color:black;text-decoration-style:dotted;" >II: {{most_recent[school.name]["interview"]}}</a><br>
                                    {% endif %}
                                    {% if most_recent[school.name]["waitlist"] %}
                                    <a href="#" data-bs-toggle="tooltip" title="Most recent reported waitlist." style="color:black;text-decoration-style:dotted;">WL: {{most_recent[school.name]["waitlist"]}}</a><br>
                                    {% endif %}
                                    {% if most_recent[school.name]["acceptance"]%}
                                    <a href="#" data-bs-toggle="tooltip" title="Most recent reported acceptance." style="color:black;text-decoration-style:dotted;">A: {{most_recent[school.name]["acceptance"]}}</a>
                                    {% endif %}
                                </p>
                            </details>
                            
                        </div>

                        {% endif %}
                        <!-- ICONS -->
                        <div style="padding-top:5px">
                            <a href="{{ url_for('explorer.explorer_home') }}/school/{{ school.name }}" class="btn btn-link" style="padding: 1px">
                                <i class="bi bi-search fs-5"></i>
                            </a>
                            <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#delete_{{ school.id }}" style="padding: 1px">
                                <i class="bi bi-trash fs-5"></i>
                            </button>
                        </div>
                        <div>
                            {% if (school.secondary_received and not school.application_complete) %}
                            {% set delay = (today - school.secondary_received)|format_days %}
                            <a href="#" data-bs-toggle="tooltip" title="Days since secondary received." style="color:black;text-decoration-style:dotted;font-size: 1.25rem">{{ delay }} Days</a>
                            {% endif %}
                        </div>
                </div>

                <!-- SCHOOL TEXT AREA ON RIGHT -->
                <div class="col-lg order-sm-2">
                    <a class="normal_list" href="{{ url_for('explorer.explorer_home') }}/school/{{ school.name }}"
                       style="color:black;text-decoration: none">
                        <h5>{{ school.name }} ({{ school.school_type }}{% if school.phd %}-PhD{% endif %})</h5>
                    </a>
                    <a class="bulk_list d-none" style="color:black;text-decoration: none">
                        <h5>{{ school.name }} ({{ school.school_type }}{% if school.phd %}-PhD{% endif %})</h5>
                    </a>
                    <div class="row">
                        {% if not profile.country == 'CAN' %}
                        <div class="col-lg-2">
                            <strong>Primary Submitted:</strong><br>
                            <span class="normal_list">
                            {% if school.primary %}
                                {% if school.primary.date() > today.date() %}
                                <i class="bi bi-exclamation-circle-fill text-warning" data-bs-toggle="tooltip" data-placement="top" title="This date is in the future"></i>
                                {% endif %}
                            {{ school.primary.strftime('%m/%d/%Y') }}
                            {% else %}
                            -
                            {% endif %}
                            </span>
                            <span class="bulk_list d-none">
                                <input onclick = "editedSchool('{{ school.id }}', 'primary')" class="datepicker" type="text" data-cycle="{{cycle.cycle_year}}" value="{%- if school.primary -%}{{ school.primary.strftime('%Y-%m-%d') }}{%- endif -%}" name="primary-{{school.id}}">
                            </span>
                        </div>
                        <div class="col-lg-2">
                            <strong>Secondary Received:</strong><br>
                            <span class="normal_list">
                            {% if school.secondary_received %}
                                {% if school.secondary_received.date() > today.date() %}
                                <i class="bi bi-exclamation-circle-fill text-warning" data-bs-toggle="tooltip" data-placement="top" title="This date is in the future"></i>
                                {% endif %}
                            {{ school.secondary_received.strftime('%m/%d/%Y') }}
                            {% else %}
                            -
                            {% endif %}
                            </span>
                            <span class="bulk_list d-none">
                                <input onclick = "editedSchool('{{ school.id }}', 'secondary_received')" class="datepicker" type="text" data-cycle="{{cycle.cycle_year}}" value="{%- if school.secondary_received -%}{{ school.secondary_received.strftime('%Y-%m-%d') }}{%- endif -%}" name="secondary_received-{{school.id}}">
                            </span>
                        </div>
                        {% endif %}
                        <div class="col-lg-2">
                            <strong>Application Complete:</strong><br>
                            <span class="normal_list">
                            {% if school.application_complete %}
                                {% if school.application_complete.date() > today.date() %}
                                <i class="bi bi-exclamation-circle-fill text-warning" data-bs-toggle="tooltip" data-placement="top" title="This date is in the future"></i>
                                {% endif %}
                            {{ school.application_complete.strftime('%m/%d/%Y') }}
                            {% else %}
                            -
                            {% endif %}
                            </span>
                            <span class="bulk_list d-none">
                                <input onclick = "editedSchool('{{ school.id }}', 'application_complete')" class="datepicker" type="text" data-cycle="{{cycle.cycle_year}}" value="{%- if school.application_complete-%}{{ school.application_complete.strftime('%Y-%m-%d') }}{%- endif -%}" name="application_complete-{{school.id}}">
                            </span>
                        </div>
                        <div class="col-lg-2">
                            <strong>Pre-Interview Hold:</strong><br>
                            <span class="normal_list">
                            {% if school.pre_int_hold %}
                                {% if school.pre_int_hold.date() > today.date() %}
                                <i class="bi bi-exclamation-circle-fill text-warning" data-bs-toggle="tooltip" data-placement="top" title="This date is in the future"></i>
                                {% endif %}
                            {{ school.pre_int_hold.strftime('%m/%d/%Y') }}
                            {% else %}
                            -
                            {% endif %}
                            </span>
                            <span class="bulk_list d-none">
                                <input onclick = "editedSchool('{{ school.id }}', 'pre_int_hold')" class="datepicker" type="text" data-cycle="{{cycle.cycle_year}}" value="{%- if school.pre_int_hold-%}{{ school.pre_int_hold.strftime('%Y-%m-%d') }}{%- endif -%}" name="pre_int_hold-{{school.id}}">
                            </span>
                        </div>
                        <div class="col-lg-2">
                            <strong>Interview Received:</strong><br>
                            <span class="normal_list">
                            {% if school.interview_received %}
                                {% if school.interview_received.date() > today.date() %}
                                <i class="bi bi-exclamation-circle-fill text-warning" data-bs-toggle="tooltip" data-placement="top" title="This date is in the future"></i>
                                {% endif %}
                            {{ school.interview_received.strftime('%m/%d/%Y') }}
                            {% else %}
                            -
                            {% endif %}
                            </span>
                            <span class="bulk_list d-none">
                                <input onclick = "editedSchool('{{ school.id }}', 'interview_received')" class="datepicker" type="text" data-cycle="{{cycle.cycle_year}}" value="{%- if school.interview_received -%}{{ school.interview_received.strftime('%Y-%m-%d') }}{%- endif -%}" name="interview_received-{{school.id}}">
                            </span>
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-lg-2">
                            <strong>Interview Date:</strong><br>
                            <span class="normal_list">
                            {% if school.interview_date %}
                                {% if school.interview_date.date() > today.date() %}
                                <i class="bi bi-exclamation-circle-fill text-warning" data-bs-toggle="tooltip" data-placement="top" title="This date is in the future"></i>
                                {% endif %}
                            {{ school.interview_date.strftime('%m/%d/%Y') }}
                            {% else %}
                            -
                            {% endif %}
                            </span>
                            <span class="bulk_list d-none">
                                <input onclick = "editedSchool('{{ school.id }}', 'interview_date')" class="datepicker" type="text" data-cycle="{{cycle.cycle_year}}" value="{%- if school.interview_date -%}{{ school.interview_date.strftime('%Y-%m-%d') }}{%- endif -%}" name="interview_date-{{school.id}}">
                            </span>
                        </div>
                        <div class="col-lg-2">
                            <strong>Rejected:</strong><br>
                            <span class="normal_list">
                            {% if school.rejection %}
                                {% if school.rejection.date() > today.date() %}
                                <i class="bi bi-exclamation-circle-fill text-warning" data-bs-toggle="tooltip" data-placement="top" title="This date is in the future"></i>
                                {% endif %}
                            {{ school.rejection.strftime('%m/%d/%Y') }}
                            {% else %}
                            -
                            {% endif %}
                            </span>
                            <span class="bulk_list d-none">
                                <input onclick = "editedSchool('{{ school.id }}', 'rejection')" class="datepicker" type="text" data-cycle="{{cycle.cycle_year}}" value="{%- if school.rejection -%}{{ school.rejection.strftime('%Y-%m-%d') }}{%- endif -%}" name="rejection-{{school.id}}">
                            </span>
                        </div>
                        <div class="col-lg-2">
                            <strong>Waitlisted:</strong><br>
                            <span class="normal_list">
                            {% if school.waitlist %}
                                {% if school.waitlist.date() > today.date() %}
                                <i class="bi bi-exclamation-circle-fill text-warning" data-bs-toggle="tooltip" data-placement="top" title="This date is in the future"></i>
                                {% endif %}
                            {{ school.waitlist.strftime('%m/%d/%Y') }}
                            {% else %}
                            -
                            {% endif %}
                            </span>
                            <span class="bulk_list d-none">
                                <input onclick = "editedSchool('{{ school.id }}', 'waitlist')" class="datepicker" type="text" data-cycle="{{cycle.cycle_year}}" value="{%- if school.waitlist -%}{{ school.waitlist.strftime('%Y-%m-%d') }}{%- endif -%}" name="waitlist-{{school.id}}">
                            </span>
                        </div>
                        <div class="col-lg-2">
                            <strong>Accepted:</strong><br>
                            <span class="normal_list">
                            {% if school.acceptance %}
                                {% if school.acceptance.date() > today.date() %}
                                <i class="bi bi-exclamation-circle-fill text-warning" data-bs-toggle="tooltip" data-placement="top" title="This date is in the future"></i>
                                {% endif %}
                            {{ school.acceptance.strftime('%m/%d/%Y') }}
                            {% else %}
                            -
                            {% endif %}
                            </span>
                            <span class="bulk_list d-none">
                                <input onclick = "editedSchool('{{ school.id }}', 'acceptance')" class="datepicker" type="text" data-cycle="{{cycle.cycle_year}}" value="{%- if school.acceptance -%}{{ school.acceptance.strftime('%Y-%m-%d') }}{%- endif -%}" name="acceptance-{{school.id}}">
                            </span>
                        </div>
                        <div class="col-lg-2">
                            <strong>Withdrawn:</strong><br>
                            <span class="normal_list">
                                {% if school.withdrawn %}
                                    {% if school.withdrawn.date() > today.date() %}
                                    <i class="bi bi-exclamation-circle-fill text-warning" data-bs-toggle="tooltip" data-placement="top" title="This date is in the future"></i>
                                    {% endif %}
                                {{ school.withdrawn.strftime('%m/%d/%Y') }}
                                {% else %}
                                -
                                {% endif %}
                            </span>
                            <span class="bulk_list d-none">
                                <input onclick = "editedSchool('{{ school.id }}', 'withdrawn')" class="datepicker" type="text" data-cycle="{{cycle.cycle_year}}" value="{%- if school.withdrawn -%}{{ school.withdrawn.strftime('%Y-%m-%d') }}{%- endif -%}" name="withdrawn-{{school.id}}">
                            </span>
                        </div>
                    </div>
                    <!-- NOTES -->
                    {% if school.note %}
                    <div class="row" style="padding-top: 10px">
                        <span class="normal_list">
                            <details open>
                                <summary><strong>Notes:</strong></summary>
                                <p style="white-space:pre-wrap; word-wrap:break-word">{{ school.note }}</p>
                            </details>
                        </span>
                        
                    </div>
                    {% endif %}
                    <div class="row" style="padding-top: 10px">
                    <span class="bulk_list d-none">
                        <strong>Notes:</strong>
                        <input onclick = "editedSchool('{{ school.id }}', 'note')" class="form-control" type="text" data-cycle="{{cycle.cycle_year}}" value="{%- if school.note -%}{{ school.note }}{%- endif -%}" name="note-{{school.id}}">
                    </span>
                    </div>
            </div>
        </li>
        {% endfor %}
        {% else %}
        <p>You have not added any schools. Get started by adding schools manually or importing an existing list from a
        spreadsheet.</p>
        {% endif %}
    </form>
</div>

<!-- ADD SCHOOL MENU -->
<div class="modal fade" id="add-school-modal" tabindex="-1" aria-labelledby="add-school-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST">
                <div class="modal-header">
                    <h5 class="modal-title">Add Schools</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    
                    <div class="form-group">
                        <label for="type">Choose a School</label>
                        <br/>
                        <select id="add_school" name="add_school" class="selectpicker border border-secondary rounded" data-live-search="true">
                            <optgroup label="US MD">
                                {% for school in usmd_school_list %}<option value='{{ school }}'>{{ school }}</option>{% endfor %}
                            </optgroup>
                            <optgroup label="US DO">
                                {% for school in do_school_list %}<option value='{{ school }}'>{{ school }}</option>{% endfor %}
                            </optgroup>
                            <optgroup label="CAN MD">
                                {% for school in camd_school_list %}<option value='{{ school }}'>{{ school }}</option>{% endfor %}
                            </optgroup>
                          </select>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="md_phd_check" name="phd" value="true">
                        <label for="md_phd_check"> I am applying MD/DO-PhD</label><br>
                    </div>
                    <input type="hidden" name="cycle_id" id="cycle_id_md" value="{{ cycle.id }}">
                    <button class="btn btn-primary" type="button" onclick="addSchool()">Add School</button>
                    <input type="hidden" name="school_names" id="school_names" value="">
                    <input type="hidden" name="phd_values" id="phd_values" value="">
                </div>
                <div id="add_schools_list"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% for school, profile in schools %}
<!-- SETUP DELETION WARNINGS -->
<div class="modal fade" id="delete_{{ school.id }}" tabindex="-1" aria-labelledby="delete_{{ school.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST">
                <div class="modal-header">
                    <h5 class="modal-title">Remove {{ school.name }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                        <div style="padding: 10px;">
                            Are you sure you want to delete <strong>{{ school.name }} ({{ school.school_type }}{% if school.phd %}-PhD{% endif %})</strong> from your list?
                            Deleting it is <strong>permanent</strong>. You will need to re-add {{ school.name }}
                            ({{ school.school_type }}{% if school.phd %}-PhD{% endif %}) and any
                            associated information if you change your mind.
                        </div>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger"
                            onclick="deleteSchool({{ school.id }}, {{ cycle.id }})">Delete School
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endfor %}

<!-- SECONDARY ESSAY ORDER -->
{% if cycle.schools|length > 0 %}
<div class="modal fade" id="secondary-order-modal" tabindex="-1" aria-labelledby="secondary-order-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST">
                <div class="modal-header">
                    <h5 class="modal-title">Secondary Essay Optimization</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <details>
                        <summary class="h5">About This Tool</summary>
                        <p>
                            Submitting secondary applications in a timely manner is hard. This tool uses historic data
                            to find the <a href="#" data-bs-toggle="tooltip"
                                           title="Example: Imagine today is 7/8 and the next interview invitation (based on historic data) for a school was on 7/31. The suggested deadline to complete your application by is the latest application complete date out of all of the applicants who received an interview on 7/31."
                                           style="color:black;text-decoration-style:dotted">
                            latest date by which a completed application was included in the next interview
                            invitation pool</a>. It is unique to your school list.
                        </p>
                        <p>
                            By combining your individual school list with historic data, this tool is meant to provide
                            a <strong>suggested order in which to complete applications</strong>. It will automatically
                            update as you track data in the school list.
                        </p>
                    </details>
                    <hr>
                    {% if missing_hard_delay_cutoff|length > 0 %}
                    <div id="hard_deadlines_entry">
                        <p>
                            This message only appears when you have recorded that you received new secondaries.
                        </p>
                        <p>
                            Some schools have a <strong>strict deadline</strong> regarding the amount of time in which you
                            can submit your application. If any of the following school(s) have such a deadline, enter the
                            number of days in which the essays are due (e.g. enter 14 for 14 days). Otherwise, leave the
                            box empty and click submit at the bottom of this pop-up. After submitting, please re-open
                            the pop-up for an updated order.
                        </p>
                        <table class="table">
                            {% for school in missing_hard_delay_cutoff %}
                                <tr>
                                    <td>{{ school.name }} ({{ school.school_type }}{%if school.phd %}-PhD{% endif %})</td>
                                    <td><input type="text" name="hard_delay_collect-{{ school.id }}" id="hard_delay_collect-{{ school.id }}" class="modalinput text-center"/></input></td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <hr>
                    {% endif %}
                    {% if edit_hard_delay_cutoff|length > 0 %}
                    <details>
                        <summary class="h5">Edit Mandatory Submission Deadline</summary>
                        <p>You may edit any mandatory submission deadlines using the table below. Enter the number of days
                        for the deadline as integer (e.g. 14 <u>not</u> 14 days). Skip any schools without a hard deadline.</p>
                        <table class="table">
                            {% for school in edit_hard_delay_cutoff %}
                                <tr>
                                    <td>{{ school.name }} ({{ school.school_type }}{%if school.phd %}-PhD{% endif %})</td>
                                    <td><input type="text" name="hard_delay_collect-{{ school.id }}" id="hard_delay_collect-{{ school.id }}" class="modalinput text-center" value="{% if school.hard_secondary_submission_days > 0 %}{{ school.hard_secondary_submission_days }}{% endif %}"/></input></td>
                                </tr>
                            {% endfor %}
                        </table>
                    </details>
                    <hr>
                    {% endif %}
                    <div id="secondary_order_output">
                        <p>The following is a recommended order in which to submit your secondary essays based on historic
                        data. <strong>Bolded lines are applications which are <u>mandatory</u> to submit based on
                        the deadline you have entered</strong>. Unbolded dates are not hard requirements, and are
                        purely suggested based on the <a href="#" data-bs-toggle="tooltip"
                                                                   title="Example: Imagine today is 7/8 and the next interview invitation (based on historic data) for a school was on 7/31. The suggested deadline to complete your application by is the latest application complete date out of all of the applicants who received an interview on 7/31."
                                                                   style="color:black;text-decoration-style:dotted">
                                last application submission in the previous cycle that yielded
                        the next interview if it were to occur in the current year</a>. Dates in the past are provided
                        with a <a href="#" data-bs-toggle="tooltip"
                                                                   title="Example: If today is 7/8 and the recommended submission date for the next historic interview for a school was 7/5, a new recommended submission date will be calculated after 7/12."
                                                                   style="color:black;text-decoration-style:dotted">4 day margin of error before recalculating</a>.</p>
                        <p><i>*Note: We recommend completing all applications as soon as possible. This order is a
                            data-informed suggestion for how to organize your time.</i></p>

                        {% if secondary_suggestion_order is not none%}
                            {% if secondary_suggestion_order|length > 0 %}
                            <table class="table">
                                <thead>
                                    <tr style="font-weight:bold">
                                        <td>#</td>
                                        <td>School</td>
                                        <td>Date</td>
                                    </tr>
                                </thead>
                            {% for index, row in secondary_suggestion_order.iterrows()%}
                                <tr {% if row["hard_soft"] == "hard" %} style="font-weight:bold" {% endif %}>
                                    <td>{{ index + 1 }}</td>
                                    <td><a href="#" data-bs-toggle="tooltip"
                                               title="{{ row['profile'].official_name }}"
                                               style="color:black;text-decoration-style:dotted">{{ row["school"].name }} ({{  row["profile"].md_or_do }}{%if row["school"].phd %}-PhD{% endif %})</a></td>
                                    <td>{% if row["hard_soft"] == "soft" %}~{% endif %}{{ row["recommended_submission"] }}</td>
                                </tr>
                            {% endfor %}
                            </table>
                            {% else %}
                            <br /><br />
                            {% endif %}
                        {% endif %}
                        {% if secondary_suggestion_unknown is not none %}
                            {% if secondary_suggestion_unknown|length > 0%}
                            <p>
                                <strong>We do not have enough data to provide suggestions for:</strong> {% for index, row in secondary_suggestion_unknown.iterrows() %}{% if index != 0 %}, {% endif %}{{ row["school"].name }} ({{ row["profile"].md_or_do }}{%if row["school"].phd %}-PhD{% endif %}){% endfor %}
                            </p>
                            {% endif %}
                        {% endif %}

                        <p class="container" style="padding: 10px; margin-top: 5px; margin-bottom:5px; background-color: #ffe9ad" >
                            As this is a new tool, it may still have some bugs. If something doesn't look right, please
                            submit a <a href="{{ url_for('dashboard.suggestions') }}">bug report</a>.</p>

                        <small><i>CycleTrack does not guarantee the accuracy of this tool. The information
                                presented is purely a suggestion based on users' self-reported data from the previous
                                cycle.</i></small>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    {% if missing_hard_delay_cutoff|length > 0 or edit_hard_delay_cutoff|length > 0%}
                        <input type="hidden" name="cycle_id" id="cycle_id" value="{{ cycle.id }}">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}