{% extends 'dashboard.html' %}
{% block title %} Dashboard {% endblock %}
{% block dash_content %}
<!-- SCHOOL LIST MANAGEMENT -->
<div id="lists" class="container" style="padding-top:10px">
    <h2>My {{ cycle.cycle_year }} School List</h2>
    {% if cycle.schools|length > 0 %}
    <!-- MESSAGE FOR DUAL DEGREE APPLICANTS -->
    {% if phd_applicant %}
    <p>
        <a href="#" data-toggle="tooltip" title="If you are being considered for MD/DO-only as well, please add an MD/DO-only second entry. If this consideration
        is after you have been rejected from the MD/DO-PhD program, please use your rejection date as the new application
                complete date." style="color:black;text-decoration-style:dotted">
            <span style="color:blue"><i class="fas fa-info-circle"></i></span>
            Note for Dual Degree Applicants
        </a>
    </p>
    {% endif %}
    <!-- SMALLEST SCREEN SIZE -->
    <div class="d-md-none">
        <table class="table" style="font-size:0.9rem">
            <thead>
                <tr>
                    <th></th>
                    <th>School</th>
                    <th>Application Complete</th>
                    <th>Interview Received</th>
                </tr>
            </thead>
            {% for school in cycle.schools %}
            <!-- DISPLAY SCHOOLS -->
            <tr class="{% if school.acceptance %}table-success{% elif school.waitlist %}table-warning{% elif school.rejection %}table-danger{% elif school.withdrawn %}table-secondary{% endif %}">
                <td>
                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#{{ school.name }}-{{ school.phd }}-modal">
                        <i class="far fa-edit"></i>
                    </button>
                </td>
                <td>
                    <a href="{{ url_for('pages.explorer') }}/{{ school.name }}" style="color:black;text-decoration: none">
                    {{ school.name }} ({% if school.school_type == "MD" %}MD{% else %}DO{% endif %}{% if school.phd %}-PhD{% endif %})
                    </a>
                </td>
                <td>
                    {% if school.application_complete %}
                    {{ school.application_complete.strftime('%m/%d/%Y') }}
                    {% endif %}
                </td>
                <td>
                    {% if school.interview_received %}
                    {{ school.interview_received.strftime('%m/%d/%Y') }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <!-- MEDIUM SCREEN SIZE -->
    <div class="d-none d-md-block d-lg-none">
        <table class="table" style="font-size:0.9rem">
            <thead>
                <tr>
                    <th></th>
                    <th>School</th>
                    <th>Secondary Received</th>
                    <th>Application Complete</th>
                    <th>Interview Received</th>
                    <th>Rejected</th>
                    <th>Waitlisted</th>
                    <th>Accepted</th>
                </tr>
            </thead>
            {% for school in cycle.schools %}
            <!-- DISPLAY SCHOOLS -->
            <tr class="{% if school.acceptance %}table-success{% elif school.waitlist %}table-warning{% elif school.rejection %}table-danger{% elif school.withdrawn %}table-secondary{% endif %}">
                <td>
                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#{{ school.name }}-{{ school.phd }}-modal">
                        <i class="far fa-edit"></i>
                    </button>
                </td>
                <td>
                    <a href="{{ url_for('pages.explorer') }}/{{ school.name }}" style="color:black;text-decoration: none">
                    {{ school.name }} ({% if school.school_type == "MD" %}MD{% else %}DO{% endif %}{% if school.phd %}-PhD{% endif %})
                    </a>
                </td>
                <td>
                    {% if school.secondary_received %}
                    {{ school.secondary_received.strftime('%m/%d/%Y') }}
                    {% endif %}
                </td>
                <td>
                    {% if school.application_complete %}
                    {{ school.application_complete.strftime('%m/%d/%Y') }}
                    {% endif %}
                </td>
                <td>
                    {% if school.interview_received %}
                    {{ school.interview_received.strftime('%m/%d/%Y') }}
                    {% endif %}
                </td>
                <td>
                    {% if school.rejection %}
                    {{ school.rejection.strftime('%m/%d/%Y') }}
                    {% endif %}
                </td>
                <td>
                    {% if school.waitlist %}
                    {{ school.waitlist.strftime('%m/%d/%Y') }}
                    {% endif %}
                </td>
                <td>
                    {% if school.acceptance %}
                    {{ school.acceptance.strftime('%m/%d/%Y') }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <!-- FULL TABLE ON LARGE SCREENS -->
    <div class="d-none d-lg-block">
        <table class="table" style="font-size:0.9rem">
            <thead>
                <tr>
                    <th></th>
                    <th>School</th>
                    <th>Primary Submitted</th>
                    <th>Secondary Received</th>
                    <th>Application Complete</th>
                    <th>Interview Received</th>
                    <th>Interview Date</th>
                    <th>Rejected</th>
                    <th>Waitlisted</th>
                    <th>Accepted</th>
                    <th>Withdrawn</th>
                </tr>
            </thead>
            {% for school in cycle.schools %}
            <!-- DISPLAY SCHOOLS -->
            <tr class="{% if school.acceptance %}table-success{% elif school.waitlist %}table-warning{% elif school.rejection %}table-danger{% elif school.withdrawn %}table-secondary{% endif %}">
                <td>
                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#{{ school.name }}-{{ school.phd }}-modal">
                        <i class="far fa-edit"></i>
                    </button>
                </td>
                <td>
                    <a href="{{ url_for('pages.explorer') }}/{{ school.name }}" style="color:black;text-decoration: none">
                    {{ school.name }} ({% if school.school_type == "MD" %}MD{% else %}DO{% endif %}{% if school.phd %}-PhD{% endif %})
                    </a>
                </td>
                <td>
                    {% if school.primary %}
                    {{ school.primary.strftime('%m/%d/%Y') }}
                    {% endif %}
                </td>
                <td>
                    {% if school.secondary_received %}
                    {{ school.secondary_received.strftime('%m/%d/%Y') }}
                    {% endif %}
                </td>
                <td>
                    {% if school.application_complete %}
                    {{ school.application_complete.strftime('%m/%d/%Y') }}
                    {% endif %}
                </td>
                <td>
                    {% if school.interview_received %}
                    {{ school.interview_received.strftime('%m/%d/%Y') }}
                    {% endif %}
                </td>
                <td>
                    {% if school.interview_date %}
                    {{ school.interview_date.strftime('%m/%d/%Y') }}
                    {% endif %}
                </td>
                <td>
                    {% if school.rejection %}
                    {{ school.rejection.strftime('%m/%d/%Y') }}
                    {% endif %}
                </td>
                <td>
                    {% if school.waitlist %}
                    {{ school.waitlist.strftime('%m/%d/%Y') }}
                    {% endif %}
                </td>
                <td>
                    {% if school.acceptance %}
                    {{ school.acceptance.strftime('%m/%d/%Y') }}
                    {% endif %}
                </td>
                <td>
                    {% if school.withdrawn %}
                    {{ school.withdrawn.strftime('%m/%d/%Y') }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% else %}
    <p>You have not added any schools. Get started by adding schools manually or importing an existing list from a
    spreadsheet.</p>
    {% endif %}

    <!-- BUTTONS FOR ADDING SCHOOLS -->
    <table>
        <tr>
            <td>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-md-modal">
                    Add MD School
                </button>
            </td>
            <td>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-do-modal">
                    Add DO School
                </button>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td>
                <form method="POST" action="{{ url_for('pages.import_list') }}">
                    <input type="hidden" id="import_cycle_id" name="cycle_id" value="{{ cycle.id }}"/>
                    <button type="submit" class="btn btn-primary">
                        Import From Spreadsheet
                    </button>
                </form>
            </td>
            <td>
                <form method="POST" action="{{ url_for('pages.export_list') }}">
                    <input type="hidden" id="export_cycle_id" name="cycle_id" value="{{ cycle.id }}"/>
                    <button type="submit" class="btn btn-primary">
                        Export To Spreadsheet
                    </button>
                </form>
            </td>
        </tr>
    </table>
</div>

<!-- SETUP MODAL FOR EDITING EACH SCHOOL -->
{% for school in cycle.schools %}
<div class="modal fade" id="{{ school.name }}-{{ school.phd }}-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST">
                <div class="modal-header">
                    <h5 class="modal-title">Edit {{ school.name }} ({% if school.school_type == "MD" %}MD{% else %}DO{%
                        endif %}{% if school.phd %}-PhD{% endif %})</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="cycle_id_modal" name="cycle_id" value="{{ cycle.id }}">
                    <input type="hidden" id="school_id" name="school_id" value="{{ school.id }}">
                    <input type="hidden" id="id" name="id" value="{{ school.id }}">
                    <div style="">
                        <label for="primary">Primary Application Submitted/Verified Date</label>
                        <input type="date" class="form-control" id="primary" name="primary"
                               value="{% if school.primary %}{{ school.primary.strftime('%Y-%m-%d') }}{% endif %}"/>
                    </div>
                    <div style="padding-top:5px">
                        <label for="primary">Secondary Received Date</label>
                        <input type="date" class="form-control" id="secondary_received" name="secondary_received"
                               value="{% if school.secondary_received %}{{ school.secondary_received.strftime('%Y-%m-%d') }}{% endif %}"/>
                    </div>
                    <div style="padding-top:5px">
                        <label for="primary">Application Complete Date</label>
                        <input type="date" class="form-control" id="application_complete" name="application_complete"
                               value="{% if school.application_complete %}{{ school.application_complete.strftime('%Y-%m-%d') }}{% endif %}"/>
                    </div>
                    <div style="padding-top:5px">
                        <label for="primary">Interview Received Date</label>
                        <input type="date" class="form-control" id="interview_received" name="interview_received"
                               value="{% if school.interview_received %}{{ school.interview_received.strftime('%Y-%m-%d') }}{% endif %}"/>
                    </div>
                    <div style="padding-top:5px">
                        <label for="primary">Interview Scheduled Date</label>
                        <input type="date" class="form-control" id="interview_date" name="interview_date"
                               value="{% if school.interview_date %}{{ school.interview_date.strftime('%Y-%m-%d') }}{% endif %}"/>
                        <small>If your interview is multiple days long, just enter the first day.</small>
                    </div>
                    <div style="padding-top:5px">
                        <label for="primary">Rejection Date</label>
                        <input type="date" class="form-control" id="rejection" name="rejection"
                               value="{% if school.rejection %}{{ school.rejection.strftime('%Y-%m-%d') }}{% endif %}"/>
                    </div>
                    <div style="padding-top:5px">
                        <label for="primary">Waitlist Date</label>
                        <input type="date" class="form-control" id="waitlist" name="waitlist"
                               value="{% if school.waitlist %}{{ school.waitlist.strftime('%Y-%m-%d') }}{% endif %}"/>
                    </div>
                    <div style="padding-top:5px">
                        <label for="primary">Acceptance Date</label>
                        <input type="date" class="form-control" id="acceptance" name="acceptance"
                               value="{% if school.acceptance %}{{ school.acceptance.strftime('%Y-%m-%d') }}{% endif %}"/>
                    </div>
                    <div style="padding-top:5px">
                        <label for="primary">Withdrawn Date</label>
                        <input type="date" class="form-control" id="withdrawn" name="withdrawn"
                               value="{% if school.withdrawn %}{{ school.withdrawn.strftime('%Y-%m-%d') }}{% endif %}"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                    <button type="button" class="btn btn-danger"
                            onclick="deleteSchool({{ school.id }}, {{ cycle.id }})">Delete School
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endfor %}

<!-- ADD MD SCHOOL MENU -->
<div class="modal fade" id="add-md-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST">
                <div class="modal-header">
                    <h5 class="modal-title">New MD School</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="add_school">Choose a School</label>
                        <select name="add_school" id="add_md_school" class="btn-sm form-control">
                            {% for school in md_school_list %}
                            <option value="{{ school }}">{{ school }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="md_phd_check" name="phd" value="true">
                        <label for="md_phd_check"> I am applying MD-PhD</label><br>
                    </div>
                    <input type="hidden" name="cycle_id" id="cycle_id_md" value="{{ cycle.id }}">
                    <input type="hidden" name="school_type" id="school_type_md" value="MD">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add School</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- ADD DO SCHOOL MENU -->
<div class="modal fade" id="add-do-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST">
                <div class="modal-header">
                    <h5 class="modal-title">New DO School</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="add_school">Choose a School</label>
                        <select name="add_school" id="add_do_school" class="btn-sm form-control">
                            {% for school in do_school_list %}
                            <option value="{{ school }}">{{ school }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="do_phd_check" name="phd" value="true">
                        <label for="md_phd_check"> I am applying DO-PhD</label><br>
                    </div>
                    <input type="hidden" name="cycle_id" id="cycle_id_do" value="{{ cycle.id }}">
                    <input type="hidden" name="school_type" id="school_type_do" value="DO">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add School</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}