{% extends 'dashboard.html' %}
{% block title %} {{ cycle.cycle_year }} School List {% endblock %}
{% block additional_js %}
<script>
var status = 'all';
var program = 'all';

$(document).ready(function() {
    // Setup datepicker for bulk edit
    $(".datepicker").each(function(){
                var val = ($(this).val());
                var current = new Date(val);
                var current_utc = new Date(current.getUTCFullYear(), current.getUTCMonth(), current.getUTCDate());
                var timestamp = Date.parse(val);
                var cycle_year = $(this).data("cycle");
                var cycle_min = new Date(cycle_year -1, 04, 01);
                var cycle_max = new Date(cycle_year, 07, 31);

                $(this).datepicker({
                    showOtherMonths: true,
                    selectOtherMonths: true,
                    changeMonth: true,
                    changeYear: true,
                    dateFormat: 'mm/dd/y',
                    minDate: cycle_min,
                    maxDate: cycle_max,
                    showButtonPanel: true,
                    closeText: "Clear",
                    onClose: function (dateText, inst) {
                        function isDonePressed() {
                            return ($('#ui-datepicker-div').html().indexOf('ui-datepicker-close ui-state-default ui-priority-primary ui-corner-all ui-state-hover') > -1);
                        }
                        if (isDonePressed()){
                            $(this).datepicker('setDate',null)
                        }
                    },
                });

                if(isNaN(timestamp)==false){
                    $(this).datepicker("setDate",current_utc);
                };
        });

    // Change shown list for adding school by type
    $("#type").change(function() {
        var val = $(this).val();
        if (val == "USMD") {
            $("#add_school").html("{% for school in usmd_school_list %}<option value='{{ school }}'>{{ school }}</option>{% endfor %}");
        } else if (val == "DO") {
            $("#add_school").html("{% for school in do_school_list %}<option value='{{ school }}'>{{ school }}</option>{% endfor %}");
        } else if (val == "CAMD") {
            $("#add_school").html("{% for school in camd_school_list %}<option value='{{ school }}'>{{ school }}</option>{% endfor %}");
        }
    });


    // Change shown list by status
    $("#status_select").change(function() {
        status = $(this).val();
        filterSettings();
    });
    $("#program_select").change(function() {
        program = $(this).val();
        filterSettings();
    });
});

// Filter school list based on settings
function filterSettings() {
    var all_schools = document.getElementsByClassName('school_entry');
    var removeCount = 0;
    for (let i = 0; i < all_schools.length; i++) {
        var remove = false;
        // Check for program type
        if (program == 'all') {
            remove = false;
        } else if (program == 'MD-PhD') {
            if (all_schools[i].classList.contains('type_MD') && all_schools[i].classList.contains('phd_true')) {
                remove = false;
            } else {
                remove = true;
            }
        } else if (program == 'MD') {
            if (all_schools[i].classList.contains('type_MD') && all_schools[i].classList.contains('phd_false')) {
                remove = false;
            } else {
                remove = true;
            }
        } else if (program == 'DO-PhD') {
            if (all_schools[i].classList.contains('type_DO') && all_schools[i].classList.contains('phd_true')) {
                remove = false;
            } else {
                remove = true;
            }
        } else if (program == 'DO') {
            if (all_schools[i].classList.contains('type_DO') && all_schools[i].classList.contains('phd_false')) {
                remove = false;
            } else {
                remove = true;
            }
        }

        // Check for status
        if (!all_schools[i].classList.contains('status_' + status) && status != 'all') {
            remove = true;
        }

        // Perform remove if needed
        if (remove) {
            all_schools[i].classList.add('d-none');
            removeCount++;
        } else {
            all_schools[i].classList.remove('d-none');
        }
    }

    // Display no schools found message when number of schools removed matches school count
    var noSchools = document.getElementById('no_schools');
    if (all_schools.length == removeCount) {
        noSchools.classList.remove("d-none");
    } else {
        noSchools.classList.add("d-none");
    }
}

// Enter bulk edit mode
function toggleBulkEdit(){
    var normal = document.getElementsByClassName('normal_list');
    var bulk = document.getElementsByClassName('bulk_list');
    // Unhide bulk edits
    for (let i = 0; i < bulk.length; i++){
        bulk[i].classList.remove("d-none");
    }
    // Hide normal
    for (let i = 0; i < normal.length; i++){
        normal[i].classList.add("d-none");
    }
}

// Cancel bulk edit
function toggleCancel() {
    location.reload(true);
}
</script>
<script src="{{ url_for('static', filename='/js/list_bulk_add.js') }}"></script>
{% endblock %}
{% block dash_content %}

<div id="lists" class="container" style="padding-top:10px">
    <h2>My {{ cycle.cycle_year }} School List</h2>
    {% if phd_applicant %}
    <p>
        <a href="#" data-toggle="tooltip" title="If you are being considered for MD/DO-only as well, please add an MD/DO-only second entry. If this consideration
        is after you have been rejected from the MD/DO-PhD program, please use your rejection date as the new application
                complete date." style="color:black;text-decoration-style:dotted">
            <span><i class="bi bi-info-circle-fill btn-link"></i></span>
            Note for Dual Degree Applicants
        </a>
    </p>
    {% endif %}

    <div class="row">
        <div class="col-auto">
            <!-- EDIT SCHOOL LIST BUTTONS -->
            <button type="button" class="btn btn-primary rounded normal_list" data-toggle="modal" data-target="#add-school-modal" style="margin: 3px; margin-left: 0px">
                Add School
            </button>
            {% if cycle.schools|length > 0 %}
            <button class="btn btn-primary rounded normal_list" type="button" onclick="toggleBulkEdit()" style="margin: 3px;">
                Multi-Edit
            </button>
            {% endif %}
            <form method="POST" action="{{ url_for('dashboard.import_list') }}" style="position: relative; display:inline;">
                <input type="hidden" id="import_cycle_id" name="cycle_id" value="{{ cycle.id }}"/>
                <button type="submit" class="btn btn-primary normal_list" style="margin: 3px;">
                    Import From Spreadsheet
                </button>
            </form>
            {% if cycle.schools|length > 0 %}
            <form method="POST" action="{{ url_for('dashboard.export_list') }}" style="position: relative; display:inline;">
                <input type="hidden" id="export_cycle_id" name="cycle_id" value="{{ cycle.id }}"/>
                <button type="submit" class="btn btn-primary normal_list" style="margin: 3px;">
                    Export To Spreadsheet
                </button>
            </form>
            {% endif %}

            <!-- BULK EDIT BUTTONS -->
            <form method="POST" style="position: relative; display:inline;">
            <input type="hidden" value="{{cycle.id}}" name="cycle_id">
            <input type="hidden" value="true" name="bulk_edit">

            <button class="btn btn-secondary rounded bulk_list d-none" type="submit" style="margin: 3px; margin-left: 0px;">
                Save Changes
            </button>
            <button class="btn btn-danger rounded bulk_list d-none" type="button" onclick="toggleCancel()" style="margin: 3px;">
                Cancel
            </button>
        </div>

        {% if cycle.schools|length > 0 %}
        <div class="col d-flex justify-content-end">
                <select class="btn-md form-control text-center" id="status_select" style="width: 150px; margin: 3px; position: relative; display:inline;">
                    <option value="all">All Status</option>
                    <option value="primary">Primary Submitted</option>
                    <option value="secondary">Secondary Received</option>
                    <option value="complete">App Complete</option>
                    <option value="interview">Interviewed</option>
                    <option value="rejection">Rejected</option>
                    <option value="waitlist">Waitlist</option>
                    <option value="acceptance">Accepted</option>
                    <option value="withdrawn">Withdrawn</option>
                </select>
                {% if program_types|length > 1 %}
                <select class="btn-md form-control text-center" id="program_select" style="width: 150px; margin: 3px; margin-right: 0px; position: relative; display:inline;">
                    <option>All Programs</option>
                    {% for program in program_types %}
                    <option value="{{ program }}">{{ program }}</option>
                    {% endfor %}
                </select>
                {% endif %}
        </div>
        {% endif %}
    </div>

        <p id="no_schools" class="d-none">
            You do not have any schools that meet the filter criteria. Please edit the filters or add the school if it is missing.
        </p>

        {% if cycle.schools|length > 0 %}
        {% for school, profile in schools %}
        <li class="list-group-item border school_entry type_{{ school.school_type }} {% if school.phd %}phd_true{% else %}phd_false{% endif %}
            status_{%if school.acceptance %}acceptance
            {% elif school.withdrawn%}withdrawn
            {% elif school.rejection%}rejection
            {% elif school.waitlist %}waitlist
            {% elif school.interview_received %}interview
            {% elif school.application_complete %}complete
            {% elif school.secondary_received %}secondary
            {% elif school.primary %}primary
            {%endif%}">
            <div class="row rows-cols-2">
                <!-- SCHOOL LOGO AREA ON LEFT -->
                <div class="col-lg-1">
                    <!-- LOGO -->
                    <center>
                        <div class="row">
                            <a href="{{ url_for('explorer.explorer_home') }}/{{ school['name'] }}" class="normal_list">
                                <img src="{{ url_for('static', filename='images/school_logos/' + profile.logo_file_name) }}" style="max-width:100px;max-height:100px" width="100%" height="auto">
                            </a>
                            <a class="bulk_list d-none">
                                <img src="{{ url_for('static', filename='images/school_logos/' + profile.logo_file_name) }}" style="max-width:100px;max-height:100px" width="100%" height="auto">
                            </a>
                        </div>
                        <div class="row" style="margin-top: 5px">
                            {% if school.acceptance %}
                            <div class="text-center rounded" style="margin-top: 3px; background-color: #6af799">
                                Accepted
                            </div>
                            {% elif school.withdrawn %}
                            <div class="text-center rounded" style="margin-top: 3px; background-color: #d1d1d1">
                                Withdrawn
                            </div>
                            {% elif school.waitlist %}
                            <div class="text-center rounded" style="margin-top: 3px; background-color: #ffca80">
                                Waitlist
                            </div>
                            {% elif school.rejection %}
                            <div class="text-center rounded" style="1px; margin-top: 3px; background-color: #ff8282">
                                Rejected
                            </div>
                            {% elif school.interview_received %}
                            <div class="text-center rounded" style="1px; margin-top: 3px; background-color: #d9abff">
                                Interview
                            </div>
                            {% endif %}
                        </div>
                        <!-- ICONS -->
                        <div style="padding-top:5px">
                            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#{{ school.name }}-{{ school.phd }}-modal" style="padding: 1px">
                                <i class="bi bi-pencil-square"></i>
                            </button>
                                <a href="{{ url_for('explorer.explorer_home') }}/{{ school.name }}" class="btn btn-link" style="padding: 1px">
                                    <i class="bi bi-search"></i>
                                </a>
                            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#{{ school.name }}-{{ school.phd }}-delete" style="padding: 1px">
                                <i class="bi bi-trash"></i>
                            </button>
                        </div>
                        <div>
                            {% if (school.secondary_received and not school.application_complete) %}
                            {% set delay = (today - school.secondary_received)|format_days %}
                            <a href="#" data-toggle="tooltip" title="Days since secondary received." style="color:black;text-decoration-style:dotted;font-size: 1.25rem">{{ delay }}</a>
                            {% endif %}
                        </div>
                    </center>
                </div>

                <!-- SCHOOL TEXT AREA ON RIGHT -->
                <div class="col-lg">
                    <a class="normal_list" href="{{ url_for('explorer.explorer_home') }}/{{ school.name }}"
                       style="color:black;text-decoration: none">
                        <h5>{{ school.name }} ({{ school.school_type }}{% if school.phd %}-PhD{% endif %})</h5>
                    </a>
                    <a class="bulk_list d-none" style="color:black;text-decoration: none">
                        <h5>{{ school.name }} ({{ school.school_type }}{% if school.phd %}-PhD{% endif %})</h5>
                    </a>
                    <div class="row" style="padding-bottom: 10px">
                        {% if not profile.country == 'CAN' %}
                        <div class="col-lg-2">
                            <strong>Primary Submitted:</strong><br>
                            <span class="normal_list">
                            {% if school.primary %}
                            {{ school.primary.strftime('%m/%d/%Y') }}
                            {% else %}
                            -
                            {% endif %}
                            </span>
                            <span class="bulk_list d-none">
                                <input class="datepicker" type="text" data-cycle="{{cycle.cycle_year}}" value="{%- if school.primary -%}{{ school.primary.strftime('%Y-%m-%d') }}{%- endif -%}" name="primary-{{school.id}}">
                            </span>
                        </div>
                        <div class="col-lg-2">
                            <strong>Secondary Received:</strong><br>
                            <span class="normal_list">
                            {% if school.secondary_received %}
                            {{ school.secondary_received.strftime('%m/%d/%Y') }}
                            {% else %}
                            -
                            {% endif %}
                            </span>
                            <span class="bulk_list d-none">
                                <input class="datepicker" type="text" data-cycle="{{cycle.cycle_year}}" value="{%- if school.secondary_received -%}{{ school.secondary_received.strftime('%Y-%m-%d') }}{%- endif -%}" name="secondary_received-{{school.id}}">
                            </span>
                        </div>
                        {% endif %}
                        <div class="col-lg-2">
                            <strong>Application Complete:</strong><br>
                            <span class="normal_list">
                            {% if school.application_complete %}
                            {{ school.application_complete.strftime('%m/%d/%Y') }}
                            {% else %}
                            -
                            {% endif %}
                            </span>
                            <span class="bulk_list d-none">
                                <input class="datepicker" type="text" data-cycle="{{cycle.cycle_year}}" value="{%- if school.application_complete-%}{{ school.application_complete.strftime('%Y-%m-%d') }}{%- endif -%}" name="application_complete-{{school.id}}">
                            </span>
                        </div>
                        <div class="col-lg-2">
                            <strong>Interview Received:</strong><br>
                            <span class="normal_list">
                            {% if school.interview_received %}
                            {{ school.interview_received.strftime('%m/%d/%Y') }}
                            {% else %}
                            -
                            {% endif %}
                            </span>
                            <span class="bulk_list d-none">
                                <input class="datepicker" type="text" data-cycle="{{cycle.cycle_year}}" value="{%- if school.interview_received -%}{{ school.interview_received.strftime('%Y-%m-%d') }}{%- endif -%}" name="interview_received-{{school.id}}">
                            </span>
                        </div>
                        <div class="col-lg-2">
                            <strong>Interview Date:</strong><br>
                            <span class="normal_list">
                            {% if school.interview_date %}
                            {{ school.interview_date.strftime('%m/%d/%Y') }}
                            {% else %}
                            -
                            {% endif %}
                            </span>
                            <span class="bulk_list d-none">
                                <input class="datepicker" type="text" data-cycle="{{cycle.cycle_year}}" value="{%- if school.interview_date -%}{{ school.interview_date.strftime('%Y-%m-%d') }}{%- endif -%}" name="interview_date-{{school.id}}">
                            </span>
                        </div>
                        <div class="col-lg-2">
                            <strong>Rejected:</strong><br>
                            <span class="normal_list">
                            {% if school.rejection %}
                            {{ school.rejection.strftime('%m/%d/%Y') }}
                            {% else %}
                            -
                            {% endif %}
                            </span>
                            <span class="bulk_list d-none">
                                <input class="datepicker" type="text" data-cycle="{{cycle.cycle_year}}" value="{%- if school.rejection -%}{{ school.rejection.strftime('%Y-%m-%d') }}{%- endif -%}" name="rejection-{{school.id}}">
                            </span>
                        </div>
                        <div class="col-lg-2">
                            <strong>Waitlisted:</strong><br>
                            <span class="normal_list">
                            {% if school.waitlist %}
                            {{ school.waitlist.strftime('%m/%d/%Y') }}
                            {% else %}
                            -
                            {% endif %}
                            </span>
                            <span class="bulk_list d-none">
                                <input class="datepicker" type="text" data-cycle="{{cycle.cycle_year}}" value="{%- if school.waitlist -%}{{ school.waitlist.strftime('%Y-%m-%d') }}{%- endif -%}" name="waitlist-{{school.id}}">
                            </span>
                        </div>
                        <div class="col-lg-2">
                            <strong>Accepted:</strong><br>
                            <span class="normal_list">
                            {% if school.acceptance %}
                            {{ school.acceptance.strftime('%m/%d/%Y') }}
                            {% else %}
                            -
                            {% endif %}
                            </span>
                            <span class="bulk_list d-none">
                                <input class="datepicker" type="text" data-cycle="{{cycle.cycle_year}}" value="{%- if school.acceptance -%}{{ school.acceptance.strftime('%Y-%m-%d') }}{%- endif -%}" name="acceptance-{{school.id}}">
                            </span>
                        </div>
                        <div class="col-lg-2">
                            <strong>Withdrawn:</strong><br>
                            <span class="normal_list">
                                {% if school.withdrawn %}
                                {{ school.withdrawn.strftime('%m/%d/%Y') }}
                                {% else %}
                                -
                                {% endif %}
                            </span>
                            <span class="bulk_list d-none">
                                <input class="datepicker" type="text" data-cycle="{{cycle.cycle_year}}" value="{%- if school.withdrawn -%}{{ school.withdrawn.strftime('%Y-%m-%d') }}{%- endif -%}" name="withdrawn-{{school.id}}">
                            </span>
                        </div>
                    </div>
                    <!-- NOTES -->
                    {% if school.note %}
                    <div class="row" style="padding-top: 10px">
                        <span class="normal_list">
                            <details open>
                                <summary><strong>Notes:</strong></summary>
                                <p style="white-space:pre-wrap; word-wrap:break-word">{{ school.note }}</p>
                            </details>
                        </span>
                        
                    </div>
                    {% endif %}
                    <div class="row" style="padding-top: 10px">
                    <span class="bulk_list d-none">
                        <strong>Note:</strong>
                        <input class="form-control" type="text" data-cycle="{{cycle.cycle_year}}" value="{%- if school.note -%}{{ school.note }}{%- endif -%}" name="note-{{school.id}}">
                    </span>
                    </div>
            </div>
        </li>
        {% endfor %}
        {% else %}
        <p>You have not added any schools. Get started by adding schools manually or importing an existing list from a
        spreadsheet.</p>
        {% endif %}
    </form>
</div>

<!-- ADD SCHOOL MENU -->
<div class="modal fade" id="add-school-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST">
                <div class="modal-header">
                    <h5 class="modal-title">Add Schools</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="type">School Type</label>
                        <select id="type" class="btn-sm form-control">
                            <option value=""></option>
                            <option value="USMD">United States MD</option>
                            <option value="DO">DO</option>
                            <option value="CAMD">Canada MD</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="type">Choose a School</label>
                        <select id="add_school" name="add_school" class="btn-sm form-control">
                            <option value="">Choose a School Type First</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="md_phd_check" name="phd" value="true">
                        <label for="md_phd_check"> I am applying MD/DO-PhD</label><br>
                    </div>
                    <input type="hidden" name="cycle_id" id="cycle_id_md" value="{{ cycle.id }}">
                    <button class="btn btn-primary" type="button" onclick="addSchool()">Add School</button>
                    <input type="hidden" name="school_names" id="school_names" value="">
                    <input type="hidden" name="phd_values" id="phd_values" value="">
                </div>
                <div id="add_schools_list"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- SETUP MODAL FOR EDITING EACH SCHOOL -->
{% for school, profile in schools %}
<div class="modal fade" id="{{ school.name }}-{{ school.phd }}-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST">
                <div class="modal-header">
                    <h5 class="modal-title">Edit {{ school.name }} ({% if school.school_type == "MD" %}MD{% else %}DO{%
                        endif %}{% if school.phd %}-PhD{% endif %})</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="bg-warning container" style="padding: 10px; margin-top: 10px; margin-bottom:10px">
                       This menu will be gone soon! Try clicking the multi-edit button at the top of the page to edit
                        all of your schools at once!
                    </div>
                    <input type="hidden" id="cycle_id_modal" name="cycle_id" value="{{ cycle.id }}">
                    <input type="hidden" id="school_id" name="school_id" value="{{ school.id }}">
                    <input type="hidden" id="id" name="id" value="{{ school.id }}">
                    {% if not profile.country == 'CAN' %}
                    <div style="padding-top:5px">
                        <label for="primary">Primary Application Submitted/Verified Date</label>
                        <input type="date" class="form-control" id="primary" name="primary"
                               value="{% if school.primary %}{{ school.primary.strftime('%Y-%m-%d') }}{% endif %}"
                               min="{{ cycle.cycle_year - 1 }}-05-01" max="{{ cycle.cycle_year }}-08-31" />
                    </div>
                    <div style="padding-top:5px">
                        <label for="primary">Secondary Received Date</label>
                        <input type="date" class="form-control" id="secondary_received" name="secondary_received"
                               value="{% if school.secondary_received %}{{ school.secondary_received.strftime('%Y-%m-%d') }}{% endif %}"
                               min="{{ cycle.cycle_year - 1 }}-05-01" max="{{ cycle.cycle_year }}-08-31" />
                    </div>
                    {% endif %}
                    <div style="padding-top:5px">
                        <label for="primary">Application Complete Date</label>
                        <input type="date" class="form-control" id="application_complete" name="application_complete"
                               value="{% if school.application_complete %}{{ school.application_complete.strftime('%Y-%m-%d') }}{% endif %}"
                               min="{{ cycle.cycle_year - 1 }}-05-01" max="{{ cycle.cycle_year }}-08-31" />
                    </div>
                    <div style="padding-top:5px">
                        <label for="primary">Interview Received Date</label>
                        <input type="date" class="form-control" id="interview_received" name="interview_received"
                               value="{% if school.interview_received %}{{ school.interview_received.strftime('%Y-%m-%d') }}{% endif %}"
                               min="{{ cycle.cycle_year - 1 }}-05-01" max="{{ cycle.cycle_year }}-08-31" />
                    </div>
                    <div style="padding-top:5px">
                        <label for="primary">Interview Scheduled Date</label>
                        <input type="date" class="form-control" id="interview_date" name="interview_date"
                               value="{% if school.interview_date %}{{ school.interview_date.strftime('%Y-%m-%d') }}{% endif %}"
                               min="{{ cycle.cycle_year - 1 }}-05-01" max="{{ cycle.cycle_year }}-08-31" />
                        <small>If your interview is multiple days long, just enter the first day.</small>
                    </div>
                    <div style="padding-top:5px">
                        <label for="primary">Rejection Date</label>
                        <input type="date" class="form-control" id="rejection" name="rejection"
                               value="{% if school.rejection %}{{ school.rejection.strftime('%Y-%m-%d') }}{% endif %}"
                               min="{{ cycle.cycle_year - 1 }}-05-01" max="{{ cycle.cycle_year }}-08-31" />
                    </div>
                    <div style="padding-top:5px">
                        <label for="primary">Waitlist Date</label>
                        <input type="date" class="form-control" id="waitlist" name="waitlist"
                               value="{% if school.waitlist %}{{ school.waitlist.strftime('%Y-%m-%d') }}{% endif %}"
                               min="{{ cycle.cycle_year - 1 }}-05-01" max="{{ cycle.cycle_year }}-08-31" />
                    </div>
                    <div style="padding-top:5px">
                        <label for="primary">Acceptance Date</label>
                        <input type="date" class="form-control" id="acceptance" name="acceptance"
                               value="{% if school.acceptance %}{{ school.acceptance.strftime('%Y-%m-%d') }}{% endif %}"
                               min="{{ cycle.cycle_year - 1 }}-05-01" max="{{ cycle.cycle_year }}-08-31" />
                    </div>
                    <div style="padding-top:5px">
                        <label for="primary">Withdrawn Date</label>
                        <input type="date" class="form-control" id="withdrawn" name="withdrawn"
                               value="{% if school.withdrawn %}{{ school.withdrawn.strftime('%Y-%m-%d') }}{% endif %}"
                               min="{{ cycle.cycle_year - 1 }}-05-01" max="{{ cycle.cycle_year }}-08-31" />
                    </div>
                    <div style="padding-top:5px">
                        <label for="note">Notes</label><br />
                        <textarea id="note" class="form-control" name="note" style="width:100%; height: 100px">{% if school.note %}{{ school.note }}{% endif %}</textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                    <button type="button" class="btn btn-danger"
                            onclick="deleteSchool({{ school.id }}, {{ cycle.id }})">Delete School
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- SETUP DELETION WARNINGS -->
<div class="modal fade" id="{{ school.name }}-{{ school.phd }}-delete" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST">
                <div class="modal-header">
                    <h5 class="modal-title">Remove {{ school.name }}</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                        <div style="padding: 10px;">
                            Are you sure you want to delete this school? Deleting the cycle will permanently delete any
                            information associated with it.
                        </div>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger"
                            onclick="deleteSchool({{ school.id }}, {{ cycle.id }})">Delete School
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}