{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="container">
    <form method="POST">
        <h2 style="padding-top: 10px">Login Required</h2>
        <p>An account is required to access CycleTrack tools. If you do not have an account, please register your free
        account by clicking <a href="{{ url_for('authentication.register') }}">here</a>.</p>
        <div class="form-group" style="padding-bottom:10px">
            <label for="email">Email Address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" />
        </div>
        <div class="form-group" style="padding-bottom:10px">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" />
            <small><a href="{{ url_for('authentication.forgot_password') }}">Forgot Password?</a></small>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
{% endblock %}
