{% extends 'base.html' %}
{% block title %}Privacy Policy{% endblock %}
{% block content %}
<div class="container">
    <h2 style="padding-top: 10px">Privacy</h2>
    <p>
        January 29, 2022
    </p>
    <p>
        Our team believes that privacy is extremely important. Thus, this page aims to offer transparency and inform
        you about the information that this website collects. Furthermore, the underlying code for this website is
        entirely open source. You are free at any time to visit our <a href="https://github.com/RunningMSN/CycleTrack">github
        repository</a> to better understand the inner-workings of this site.
    </p>

    <h3>Emails and Passwords</h3>
    <p>
        We use emails and passwords to generate your account and allow you to login. Accounts are necessary to allow
        each applicant to individually track their application cycle(s). We will never disclose your email or password
        to a third party. All passwords for this site are encrypted.</p>
    <h3>Application Cycle Information</h3>
    <p>
        As a CycleTrack user, you are able to enter information into our website. At a basic level, we collect the years
        you are applying, schools applied to, and dates of application actions such as application submission, interview
        received and acceptance dates. Additionally, we allow you to enter additional information about your
        application. This includes GPA, MCAT score, and basic demographic information. We use this information to add
        context to application cycle actions. This information is aggregated and summaries of this information may be
        displayed publicly on our website to offer insight into the medical school admissions process. To avoid the
        possibility of user identification, we do not display information about schools with less than 5 applicants. All
        application cycle information is entirely optional for you to enter.
    </p>
    <h3>Cookies</h3>
    <p>
        This website uses "cookie" messages to allow you to login and logout of the site.
    </p>
    <h3>Modifications</h3>
    <p>
        We maintain the option to amend this privacy policy at any time, so please review it periodically. Your continued
        use of this website following the date of a posted amendment to our privacy policy will be considered your
        agreement to the changed terms.
    </p>
</div>
{% endblock %}
