{% extends 'base.html' %}
{% block title %}Privacy Policy{% endblock %}
{% block content %}
<div class="container">
    <h2 style="padding-top: 10px" id="privacy">Privacy</h2>
    <p>
        Last Modified: August 7, 2022
    </p>
    <p>
        Our team believes that privacy is extremely important. This page aims to offer transparency and inform
        you about the information that this website collects. Furthermore, the underlying code for this website is
        entirely open source. You are free at any time to visit our <a href="https://github.com/RunningMSN/CycleTrack">github
        repository</a> to better understand the inner-workings of this site.
    </p>

    <h4 id="emailpassword">Emails and Passwords</h4>
    <p>
        We use emails and passwords to generate your account and allow you to login. Accounts are necessary for
        each applicant to individually track their application cycle(s). We will never disclose your email or password
        to a third party. All passwords on this site are encrypted.
    </p>

    <h4 id="cycleinfo">Application Cycle Information</h4>
    <p>
        As a CycleTrack user, you are able to enter information into our website. At a basic level, we collect the years
        you are applying, schools applied to, and dates of application actions such as submission, interview
        received and acceptance dates. Additionally, we allow you enter contextual information about your application.
        This includes GPA, MCAT score, and basic demographic information. This information is anonymously aggregated and
        may be displayed publicly on our website or in other publications to offer insight into the medical school admissions
        process. To avoid the possibility of user identification, we do not display information about schools with less
        than 5 applicants. Furthermore, you may enter information about courses taken in school to use the GPA calculator
        tool. All information is entirely voluntary for you to enter.
    </p>

    <h4 id="profiles">CycleTrack Profiles</h4>
    <p>
        CycleTrack profiles allows you to publish a custom summary of your application cycle(s). Creating a profile is
        voluntary and information displayed on a profile is selected by the profile author. Profiles are private (only
        accessible to the author by default) and must be published by the author to become publicly accessible. The CycleTrack
        team does not monitor the content of profiles, however, inappropriate content is subject to removal and may be
        reported by emailing <a href="mailto:admin@cycletrack.org">admin@cycletrack.org</a>.
    </p>

    <h4 id="cookies">Cookies and Google Analytics</h4>
    <p>
        This website uses "cookie" messages to allow you to login and logout of the site.
    </p>
    <p>
        Our website uses Google Analytics, a web analytics service offered by Google that tracks and reports traffic to
        our website. Google uses the data collected to track and monitor the use of our Service.
        This data is shared with other Google services. Google may use the collected data to contextualize and
        personalize the ads of its own advertising network. You can opt-out of having made your activity on CycleTrack
        available to Google Analytics by installing the <a href="https://tools.google.com/dlpage/gaoptout">Google
        Analytics opt-out browser add-on</a>. The add-on prevents the Google Analytics JavaScript
        (ga.js, analytics.js and dc.js) from sharing information with Google Analytics about visits activity.
        For more information on the privacy practices of Google, please visit the Google Privacy & Terms
        web page: <a href="https://policies.google.com/privacy">https://policies.google.com/privacy</a>.
    </p>
    <h4 id="modifications">Modifications</h4>
    <p>
        We maintain the option to amend this privacy policy at any time, so please review it periodically. Your continued
        use of this website following the date of a posted amendment to our privacy policy will be considered your
        agreement to the changed terms.
    </p>
</div>
{% endblock %}
