{% extends 'base.html' %}
{% block title %}Privacy Policy{% endblock %}
{% block content %}
<div class="container">
    <h2 style="padding-top: 10px" id="privacy">Our Privacy Policy is Changing!</h2>
    <p>With the incredible growth our site has experienced, we are amending our privacy policy to better inform you
        about the information we collect and how it is used. This policy will take effect on September 2, 2022. If you
        have any questions or concerns, please feel free to contact us at <a href="mailto:admin@cycletrack.org">admin@cycletrack.org</a>.</p>

    <p>
        <strong>Effective:</strong> September 2, 2022
    </p>
    <p>
        CycleTrack is committed to maintaining the privacy of our users. This page is designed to offer transparency
        regarding the information that we collect and how it is used. Further, the underlying code for this website is
        open source. You are free at any time to visit our github repository to better understand the inner-working of
        this site.
    </p>

    <h3 id="informationaboutyou">What information do we collect about you?</h3>
    <h4>General Website Visitors:</h4>
    <p>
        CycleTrack does not collect any personal data from general users. Our website does use Google Analytics, a web
        analytics service offered by Google that tracks and reports traffic to our website. This information is used to
        improve content and site performance. Additional information about Google Analytics is provided below.
    </p>
    <h4>
        CycleTrack Registered Users:
    </h4>
    <p><strong>Emails and Passwords</strong><br/>
        We use emails and passwords to generate your account and allow you to login. Accounts are necessary for each
        applicant to individually track their application cycle(s). We will never disclose your email or password to a
        third party. All passwords on this site are encrypted.
    </p>
    <p><strong>Application Cycle Information</strong><br/>
        As a CycleTrack user, you can enter information into our website. All information is entirely voluntary for you
        to share. However, certain features may require user input to function. At a basic level, CycleTrack accepts
        information about the years you are applying to medical school, schools applied to, and dates of application
        actions such as submission, interview received and acceptance dates. Additionally, you may choose to enter
        contextual information about your application. This includes demographic information, GPA, MCAT score, and
        college coursework.
    </p>
    <h3>
        How do we use your information?
    </h3>
    <p><strong>CycleTrack User Tools</strong><br/>
        Information about the schools you applied to and application action dates are used to provide you with a school
        list tracking interface and visualization generator tool. Coursework information is used for the GPA calculator.
    </p>
    <p><strong>CycleTrack Explorer</strong><br/>
        Information about CycleTrack users is aggregated in a de-identified manner to populate the school explorer tool.
        The CycleTrack explorer is available to all website visitors and displays information including but not limited
        to dates of application actions (e.g. interview invitations) and statistics (e.g. median GPA/MCAT). To maintain
        the privacy of our users, we do not display information calculated with a sample size of less than 5 users.
    </p>
    <p><strong>CycleTrack Profiles</strong><br/>
        CycleTrack profiles allows you to publish a custom summary of your application cycle(s). Creating a profile is
        voluntary and information displayed on a profile is selected by the profile author. Profiles are private (only
        accessible to the author) by default and must be published by the user to become publicly accessible. The
        CycleTrack team does not monitor the content of profiles, however, inappropriate content is subject to removal
        and may be reported by emailing <a href="mailto:admin@cycletrack.org">admin@cycletrack.org</a>.
    </p>
    <p><strong>Research/Publications</strong><br/>
        The CycleTrack team may use data provided by users to perform research about medical school admissions. Any data
        used for research is de-identified prior to analysis. Findings from CycleTrack research may be published on the
        CycleTrack website, internet forums, social media, or in scholarly journals.
    </p>
    <h3>
        Access to your information
    </h3>
    <p>
        You have the right to request a copy of the information that we hold about you. If you would like a copy of this
        information, please email our team at <a href="mailto:admin@cycletrack.org">admin@cycletrack.org</a>.
    </p>
    <h3>
        Cookies and Google Analytics
    </h3>
    <p>
        Cookies are text files that are placed on your computer. CycleTrack uses cookies to allow users to log-in and
        out of the website. To learn more about cookies, visit <a href="https://www.aboutcookies.org/">https://www.aboutcookies.org/</a> or
        <a href="https://allaboutcookies.org/">https://allaboutcookies.org/</a>.
    </p>
    <p>
        Our website uses Google Analytics, a web analytics service offered by Google that tracks and reports traffic to
        our website. Google uses the data collected to track and monitor the use of our website. This data is shared
        with other Google services. Google may use the collected data to contextualize and personalize the ads of its
        own advertising network. You can opt-out of having made your activity on CycleTrack available to Google
        Analytics by installing the Google Analytics opt-out browser add-on. The add-on prevents the Google Analytics
        JavaScript (ga.js, analytics.js and dc.js) from sharing information with Google Analytics about visits activity.
        For more information on the privacy practices of Google, please visit the Google Privacy & Terms web page:
        <a href="https://policies.google.com/privacy">https://policies.google.com/privacy</a>.
    </p>
    <h3>
        Third Party Websites
    </h3>
    <p>
        CycleTrack contains several links to third-party websites. We do not have any control over nor do we assume
        responsibility for the content, policies, or practices of those websites. When visiting these websites, we
        recommend that you read their privacy policies.
    </p>
    <h3>
        Modifications
    </h3>
    <p>
        We maintain the option to amend this privacy policy at any time, so please review it periodically. Your
        continued use of this website following the date of a posted amendment to our privacy policy will be considered
        your agreement to the changed terms.
    </p>
    <h3>Contact Us</h3>
    <p>
        If you have any questions or concerns about this policy, please don’t hesitate to contact our team at
        <a href="mailto:admin@cycletrack.org">admin@cycletrack.org</a>.
    </p>
</div>
{% endblock %}
