{% extends 'dashboard.html' %}
{% block title %} User Profile {% endblock %}
{% block additional_js %}
    <script>
    function copyClipboard(text){
        if (navigator && navigator.clipboard && navigator.clipboard.writeText) {
            navigator.clipboard.writeText(text);
            textarea = document.getElementById('profile_link');
            textarea.value = 'Link copied to clipboard!';
        }
    }
    </script>
    <script type="text/javascript">
        function ChangeGraphDropdowns(value){
            if(value=="Graph"){
                document.getElementById('text_div').style.display='none';
                document.getElementById('add_vis_div').style.display='block';
                document.getElementById('add_year_div').style.display='block';
                document.getElementById('app_type_div').style.display='block';
                document.getElementById('map_type_div').style.display='none';
                document.getElementById('color_div').style.display='block';
                document.getElementById('title_div').style.display='block';
                document.getElementById('filter_div').style.display='block';
                document.getElementById('hide_name_div').style.display='none';
            }
            else if(value=="Map"){
                document.getElementById('map_type_div').style.display='block';
                document.getElementById('hide_name_div').style.display='none';
            }
            else if(value=="Timeline"){
                document.getElementById('hide_name_div').style.display='block';
                document.getElementById('map_type_div').style.display='none';
            }
            else if(value=="Dot"){
                document.getElementById('hide_name_div').style.display='block';
                document.getElementById('map_type_div').style.display='none';
            }
            else if(value=="Text"){
                document.getElementById('text_div').style.display='block';
                document.getElementById('add_vis_div').style.display='none';
                document.getElementById('add_year_div').style.display='none';
                document.getElementById('app_type_div').style.display='none';
                document.getElementById('map_type_div').style.display='none';
                document.getElementById('color_div').style.display='none';
                document.getElementById('title_div').style.display='none';
                document.getElementById('filter_div').style.display='none';
                document.getElementById('hide_name_div').style.display='none';
            }
        }
        function ChangeEdithDropdowns(value){
            if(value=="Map"){
                document.getElementById('map_edit_div').style.display='block';
                document.getElementById('hide_name_edit_div').style.display='none';
            }
            else if(value=="Timeline"){
                document.getElementById('hide_name_edit_div').style.display='block';
                document.getElementById('map_edit_div').style.display='none';
            }
            else if(value=="Dot"){
                document.getElementById('hide_name_edit_div').style.display='block';
                document.getElementById('map_edit_div').style.display='none';
            }
            else{
                document.getElementById('map_edit_div').style.display='none';
                document.getElementById('hide_name_edit_div').style.display='none';
            }
        }
    </script>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/js/bootstrap-select.min.js"></script>

{% endblock %}
{% block dash_content %}
<div id="profile_settings" class="container" style="padding-top:10px">
    <h2>My Profile Settings</h2>

    <div class="mb-2">
        Profiles are a canvas for you to build custom pages and/or share your application cycle with the world. Customize
        your profile by adding blocks on this page.
    </div>

    <div class="row mb-2">
        <div class="col-auto" id="addblock">
            <button type="button" class="btn btn-primary rounded normal_list" data-toggle="modal" data-target="#add-block-modal" style="margin: 3px; margin-left: 0px">
                Add Block
            </button>
        </div>
        {%if blocks %}
        <div class="col-auto" id="publishsettings">
            <button type="button" class="btn btn-primary rounded normal_list" data-toggle="modal" data-target="#publish-settings-modal" style="margin: 3px; margin-left: 0px">
                Publish Settings
            </button>
        </div>
        <div class="col-auto" id="to-profile">
            <a href="{{ url_for('profile.profile_home') }}/{{ hashurl }}" target="_blank" type="button" class="btn btn-primary rounded normal_list" style="margin: 3px; margin-left: 0px">
                Visit My Profile
            </a>
        </div>
        {% endif %}
    </div>

    {% for block in blocks %}
    <li class="list-group-item border">
        <div class="row">
            <div class="col col-sm-auto d-flex align-items-center">
                <span class="align-middle" style="font-size: 1.5rem; width: 2ch; text-align: center">{{ block.block_order }}</span>
            </div>
            <div class="col col-sm-auto d-flex align-items-center">
                <div class="btn-group-vertical">
                    <button type="button" class="btn btn-light rounded-0" onclick="reorderBlock({{ block.id }},{{block.block_order}},'up')"><i class="bi bi-caret-up-fill"></i></button>
                    <button type="button" class="btn btn-light rounded-0" onclick="reorderBlock({{ block.id }},{{block.block_order}},'down')"><i class="bi bi-caret-down-fill"></i></button>
                </div>
            </div>
            <div class="col">
                <div class="row container">
                    {% if block.block_type == "Text" %}
                        {{ markdown(block.text)|safe }}
                    {% elif block.block_type == "Graph" %}
                        <div class="row">
                            <div class="col col-sm-auto">
                                <h4>{{block.vis_type}} Graph</h4>
                            </div>
                        </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <strong>Plot Title</strong><br>
                            {% if block.plot_title %}
                            {{block.plot_title}}
                            {% else %}
                            -
                            {% endif%}
                        </div>
                        <div class="col-lg-2">
                            <strong>Application Type</strong><br>
                            {{block.app_type}}
                        </div>
                        {% if block.vis_type == "map"%}
                        <div class="col-lg-2">
                            <strong>Map Type</strong><br>
                            {{block.map_type}}

                        </div>
                        {% endif%}
                        <div class="col-lg-2">
                            <strong>Color Palette</strong><br>
                            {{block.color}}
                        </div>
                        <div class="col-lg-2">
                            <strong>Filtered values</strong><br>
                            {% if block.filter_values %}
                            {{block.filter_values}}
                            {% else %}
                            -
                            {% endif %}
                        </div>
                        {% if block.vis_type.lower() == "timeline" or block.vis_type.lower() == "dot" %}
                        <div class="col-lg-2">
                            <strong>School names</strong><br>
                            {% if block.hide_names%}
                            Hidden
                            {% else %}
                            Not hidden
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
                <div class="row container">
                    <p>
                        <button type="button" class="btn btn-link" data-toggle="modal"
                                data-target="#{{ block.id }}-modal"
                                style="margin: 0px; padding: 0px; margin-right: 5px">Edit {{ block.block_type }}
                        </button>
                        <button type="button" class="btn btn-link" data-toggle="modal"
                                data-target="#{{ block.id }}-delete" style="margin: 0px; padding: 0px">Delete
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </li>
    {% endfor %}
</div>

<div class="modal fade" id="add-block-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST">
                <input type="hidden" name="add_block" value="true">
                <input type="hidden" name="block_order" value="{{ blocks|length + 1 }}">
                <div class="modal-header">
                    <h5 class="modal-title">New Block</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="type">Block Type</label>
                        <select id="block_type" name="block_type" class="btn-sm form-control" onchange="ChangeGraphDropdowns(this.value);">
                            <option disabled selected value> -- select an option -- </option>
                            {%if number_of_graph_blocks >= 6%}
                            <option disabled value="Graph">Graph</option>
                            {% else %}
                            <option value="Graph">Graph</option>
                            {% endif %}

                            {% if number_of_text_blocks >= 10%}
                            <option disabled value="Text">Text</option>
                            {% else %}
                            <option value="Text">Text</option>
                            {% endif %}

                        </select>
                    </div>
                    <div class="form-group" id="add_vis_div" style="display:none">
                        <label for="type">Visualization Type</label>
                        <select id="vis_type" name="vis_type" class="btn-sm form-control" onchange="ChangeGraphDropdowns(this.value);">
                            {% for vis_type in vis_types %}
                            <option value="{{ vis_type }}">{{ vis_type }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="row">
                        <div class="form-group col-auto" id="add_year_div" style="display:none">
                            <label for="years">Cycle Year</label>
                            <select id="cycle_year" name="cycle_year" class="btn-sm form-control">
                                {% for year in cycle_years %}
                                    {% if year == cycle_years|min %}
                                    <option selected value="{{ year }}">{{ year }}</option>
                                    {% else %}
                                    <option value="{{ year }}">{{ year }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-auto" id="app_type_div" style="display:none">
                            <label for="type">App Type</label>
                            <select id="app_type" name="app_type" class="btn-sm form-control">
                                {% for app_type in app_types %}
                                <option value="{{ app_type }}">{{ app_type }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-auto" id="map_type_div" style="display:none">
                            <label for="type">Map Type</label>
                            <select id="map_type" name="map_type" class="btn-sm form-control">
                                {% for map_type in map_types %}
                                <option value="{{ map_type }}">{{ map_type }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-auto" id="color_div" style="display:none">
                            <label for="type">Color Type</label>
                            <select id="color_type" name="color_type" class="btn-sm form-control">
                                <option selected value="Default">Default</option>
                                {% for color_type in color_types %}
                                    {% if color_type != "Default" %}
                                        <option value="{{ color_type }}">{{ color_type }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group" id="title_div" style="display:none">
                        <label for="plot_title"> Plot Title</label>
                        <input id="plot_title" name="plot_title" type="text" class="btn-sm form-control">
                    </div>
                    <div class="form-group" id="filter_div" style="display:none">
                        <label for="type">Exclude Data</label>
                        <select id="filter_values" name="filter_values" class= "selectpicker" multiple>
                            {% for filter in filter_options %}
                            <option value="{{ filter }}">{{ filter }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group" id="hide_name_div" style="display:none">
                        <input type="checkbox" id="hide_names" name="hide_names" value="true">
                        <label for="hide_names">Hide names</label><br>
                    </div>
                    <div class="form-group" id="text_div" style="display:none">
                        You can use <a href="https://www.markdownguide.org/cheat-sheet/" target="_blank">markdown</a> to format your text. HTML is not supported.
                        <textarea class="form-control" id="textbox" name="textbox" rows="3"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add Block</button>
                </div>
            </form>
        </div>
    </div>

</div>



{% for block in blocks %}
<div class="modal fade" id="{{block.id}}-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Block {{block.block_order}}: {{block.block_type}}</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="edit_block_modal" name="edit_block" value="{{block.id}}">
                    <input type="hidden" id="block_type" name="block_type" value="{{block.block_type}}">
                    <input type="hidden" id="block_type" name="block_order" value="{{block.block_order}}">
                    {% if block.block_type == "Graph" %}
                        <div class="form-group">
                            <label for="type">Visualization Type</label>
                            <select id="vis_type" name="vis_type" class="btn-sm form-control" onchange="ChangeEditDropdowns(this.value);">
                                <option selected value="{{block.vis_type}}">{{block.vis_type}}</option>
                                {% for vis_type in vis_types %}
                                    {% if vis_type != block.vis_type %}
                                        <option value="{{ vis_type }}">{{ vis_type }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="row">
                            <div class="form-group col-auto">
                                <label for="years">Cycle Year</label>
                                <select id="cycle_year" name="cycle_year" class="btn-sm form-control">
                                    <option selected value="{{block.cycle_year}}">{{block.cycle_year}}</option>
                                    {% for year in cycle_years %}
                                        {% if year != block.cycle_year %}
                                            <option value="{{ year }}">{{ year }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-auto">
                                <label for="type">App Type</label>
                                <select id="app_type" name="app_type" class="btn-sm form-control">
                                    <option value="{{block.app_type}}">{{block.app_type}}</option>
                                    {% for app_type in app_types %}
                                        {% if app_type != block.app_type%}
                                            <option value="{{ app_type }}">{{ app_type }}</option>
                                        {% endif%}
                                    {% endfor %}
                                </select>
                            </div>
                            
                            <div class="form-group col-auto" id="map_edit_div" {% if block.vis_type != "Map" %} style="display:none"{% endif %}>
                                <label for="type">Map Type</label>
                                <select id="map_type" name="map_type" class="btn-sm form-control">
                                    <option selected value="{{block.map_type}}">{{block.map_type}}</option>
                                    {% for map_type in map_types %}
                                        {% if map_type != block.map_type %}
                                        <option value="{{ map_type }}">{{ map_type }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-auto">
                                <label for="type">Color Type</label>
                                <select id="color_type" name="color_type" class="btn-sm form-control">
                                    <option selected value="{{block.color}}">{{block.color}}</option>
                                    {% for color_type in color_types %}
                                        {% if color_type != block.color %}
                                            <option value="{{ color_type }}">{{ color_type }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="plot_title"> Plot Title</label>
                            <input id="plot_title" name="plot_title" type="text" class="btn-sm form-control" value="{{block.plot_title}}">
                        </div>
                        <div class="form-group">
                            <label for="type">Filter Data (select multiple to remove)</label>
                            <select id="filter_values" name="filter_values" class="btn-sm form-control" multiple>
                                {% if block.filter_values %}
                                    {% for filter in filter_options %}
                                        {% if filter in block.filter_values.split(", ") %}
                                            <option selected value="{{ filter }}">{{ filter }}</option>
                                        {% else %}
                                            <option value="{{ filter }}">{{ filter }}</option>
                                        {% endif%}
                                    {% endfor %}
                                {% else %}
                                    {% for filter in filter_options %}
                                        <option value="{{ filter }}">{{ filter }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                        <div class="form-group" id="hide_name_edit_div" {% if block.vis_type == "Timeline" %} style="display:block"{% elif block.vis_type == "Dot" %}style="display:block"{% else %}style="display:none"{% endif %}>
                            <input type="checkbox" id="hide_names" name="hide_names" value="true" {% if block.hide_names== 1 %} checked {% endif %}>
                            <label for="hide_names">Hide names</label><br>
                        </div>
                    {% else %}
                        <div class="form-group">
                            <label for="textbox">Text</label>
                            <textarea class="form-control" id="textbox" name="textbox" rows="3">{{block.text}}</textarea>
                        </div>
                    {% endif %}
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                    <button type="button" class="btn btn-danger"
                            onclick="deleteBlock({{ block.id }})">Delete Block
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="{{block.id}}-delete" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST">
                <div class="modal-header">
                    <h5 class="modal-title">Remove Block {{ block.block_order }}</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                        <input type="hidden" id="delete_block_modal" name="delete_block" value="{{block.id}}">
                        
                        <div style="padding: 10px;">
                            Are you sure you want to delete this block? Deleting the block will permanently delete any
                            information associated with it and remove it from your profile page.
                        </div>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" type="submit" class="btn btn-danger"
                            onclick="deleteBlock({{ block.id }})">Delete Block
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endfor %}


<div class="modal fade" id="publish-settings-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <form method="POST">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Publish Settings</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% if not user.public_profile %}
                    Your profile is currently private. Only you can view it. You can open your
                    profile to visitors by choosing public from the menu below.
                    {% else %}
                    Your profile is currently public. Anyone with the link can view it. You can make your profile
                    private
                    using the menu below. This will prevent visitors from viewing it.
                    {% endif %}

                    <div class="input-group mb-3">
                        <select class="form-control border" name="profile_publish_setting" id="profile_publish_setting">
                            <option value="0" {% if not user.public_profile %} selected {% endif %}>Private</option>
                            <option value="1" {% if user.public_profile %} selected {% endif %}>Public</option>
                        </select>
                    </div>
                    <div class="input-group">
                        Your profile can be accessed at the following link.
                        <div class="input-group mb-3">
                            <button class="btn border input-group-text" id="inputGroup-sizing-default" type='button' onclick="copyClipboard('https://cycletrack.org{{ url_for('profile.profile_home') }}/{{ hashurl }}')"><i
                                    class="bi bi-clipboard" style="font-size: 1rem"></i></button>
                            <input type="text" class="form-control border" id="profile_link" disabled
                                   value="https://cycletrack.org{{ url_for('profile.profile_home') }}/{{ hashurl }}"/>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock%}