{% extends 'base.html' %}
{% block title %} Public Profile {% endblock %}
{% block additional_js %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}
{% block content %}
<div class="container" style="padding-top:10px">
    {% if blank %}
    <div class="container">
        This profile is not yet set up.
    </div>
    {% endif %}
</div>



{% for num,type, graph in blocks_data %}
    {%if type == "text" %}
    <div class="container">
        {{graph | safe}}
    </div>
    {% elif type=="graph"%}
    <div class="container" style="background:white; padding:10px">
        <center>
            <div id="chart-{{num}}" class="chart"></div>
        </center>
        <script>
                var graphs = {{ graph| safe }};
                graphs.config = {'responsive': true, 'displaylogo': false,
                modeBarButtonsToRemove:["autoScale2d","zoomIn2d","zoomOut2d","toggleSpikelines","select2d","lasso2d"]}
                Plotly.newPlot('chart-{{num}}', graphs);
        </script>
    </div>
    {% endif %}
{% endfor %}



{% endblock %}

