{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block content %}
<div class="container">
    <form method="POST">
        <h2 style="padding-top: 10px">Create an account</h2>
        <div class="form-group" style="padding-bottom:10px">
            <label for="email">Email Address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" />
            <small>We promise not to share your email with anyone.</small>
        </div>
        <div class="form-group" style="padding-bottom:10px">
            <label for="password1">Password</label>
            <input type="password" class="form-control" id="password1" name="password1" placeholder="Enter password" />
        </div>
        <div class="form-group" style="padding-bottom:10px">
            <label for="password2">Confirm password</label>
            <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm password" />
        </div>
        <div class="form-group" style="padding-bottom:10px">
            <input type="checkbox" id="terms_agree" name="terms_agree" value="agree">
            <label for="terms_agree"> I agree to CycleTrack's <a href="{{ url_for('pages.privacy') }}">Privacy Policy</a>
                and <a href="{{ url_for('pages.privacy') }}">Terms and Conditions</a>.</label><br>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
