{% extends 'base.html' %}
{% block title %} {{ school_info['School'][0] }} {% endblock %}
{% block content %}
<div class="container" style="padding-top:10px">
    <!-- GENERAL SCHOOL INFO -->
    <div class="row" id="information" style="padding: 10px">
        <div class="col-2 d-flex align-items-center justify-content-center">
            <center>
                <img src="{{ url_for('static', filename='images/school_logos/' + school_info['Logo_File_Name'][0]) }}" style="max-width:150px;max-height:150px" width="100%" height="auto">
            </center>
            </div>
        <div class="col-10">
            <h2>{{ school_info['School'][0] }}</h2>
            <strong>Location: </strong> <a href="https://www.google.com/maps/search/?api=1&query={{ school_info['Lat'][0] }},{{ school_info['Long'][0] }}">{{ school_info['City'][0] }}, {{ school_info['State'][0] }}</a>
            <br />
            <strong>Campus Environment: </strong> {{ school_info['Envt_Type'][0] }} Campus
            <br />
            <strong>School Type: </strong> {{ school_info['Private_Public'][0] }} Institution
            <br />
            <strong>Program Type: </strong> {{ school_info['MD_or_DO'][0] }}
        </div>
    </div>

    <!-- WARNING ABOUT WIP -->
    <div class="row">
        <div class="bg-warning container" style="margin-top:10px; margin-bottom:10px">
            This feature is a work in progress and requires more data. Invite other future doctors to track their cycles using CycleTrack to expedite development!
        </div>
    </div>
    <!-- SCHOOL INFO TABS -->
    <div class="row" id="school-info">
            <!-- TAB LIST -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="md-tab" data-toggle="tab" href="#md" role="tab" aria-controls="md"
                       aria-selected="true"><h6>{{ school_info['MD_or_DO'][0] }}</h6></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="mdphd-tab" data-toggle="tab" href="#mdphd" role="tab" aria-controls="mdphd"
                       aria-selected="false"><h6>{{ school_info['MD_or_DO'][0] }}/PhD</h6></a>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent" style="padding:10px; border-style: none solid solid; border-color:#dee2e6; border-width:1px">
                <!-- MD/DO INFO -->
                <div class="tab-pane fade show active" id="md" role="tabpanel" aria-labelledby="md-tab">
                    <div style="padding:10px;">
                        <h5>Current Cycle Status</h5>
                        {% if cycle_status_reg_json %}
                        <div id="reg_status"></div>
                        {% else %}
                        <p>We currently do not have enough data points to display the current cycle status. Please invite other
                        applicants to track their cycles for this graph to appear.</p>
                        {% endif %}
                    </div>

                    {% if school_info['MD_or_DO'][0] == "MD" %}
                    <div style="padding:10px;">
                        <h5>AAMC Data</h5>
                        {{table_md | safe}}
                    </div>
                    {% endif %}
                </div>

                <!-- MD/DO-PhD INFO -->
                <div class="tab-pane fade" id="mdphd" role="tabpanel" aria-labelledby="mdphd-tab">
                    <div style="padding:10px;">
                        <h5>Current Cycle Status</h5>
                        {% if cycle_status_phd_json %}
                        <div id="phd_status"></div>
                        {% else %}
                        <p>We currently do not have enough data points to display the current cycle status. Please invite other
                        applicants to track their cycles for this graph to appear.</p>
                        {% endif %}
                    </div>

                    {% if school_info['MD_or_DO'][0] == "MD" %}
                    <div style="padding:10px;">
                        <h5>AAMC Data</h5>
                        {{table_mdphd | safe}}
                    </div>
                    {% endif %}
                </div>
            </div>
    </div>
</div>

<!-- PREPARE GRAPHS -->
<script>
    $(document).on('shown.bs.tab', 'a[data-toggle="tab"]', function (event) {
    var doc = $(".tab-pane.active .plotly-graph-div");
    for (var i = 0; i < doc.length; i++) {
        Plotly.relayout(doc[i], {autosize: true});
    }
})
</script>
{% if cycle_status_reg_json %}
    <script>
    var reg_graph = {{ cycle_status_reg_json | safe }};
    reg_graph.config = {'responsive': true, 'displaylogo': false}
    Plotly.newPlot('reg_status', reg_graph);
    </script>
{% endif %}
{% if cycle_status_phd_json %}
    <script>
    var phd_graph = {{ cycle_status_phd_json | safe }};
    phd_graph.config = {'responsive': true, 'displaylogo': false}
    Plotly.newPlot('phd_status', phd_graph);
    </script>
{% endif %}

{% endblock %}

