{% extends 'base.html' %}
{% block title %} {{ school_info['School'][0] }} {% endblock %}
{% block additional_js %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}
{% block content %}
<div class="container" style="padding-top:10px">
    <!-- GENERAL SCHOOL INFO -->
    <div class="row" id="information" style="padding: 10px">
        <div class="col-2 d-flex align-items-center justify-content-center">
            <center>
                <img src="{{ url_for('static', filename='images/school_logos/' + school_info['Logo_File_Name'][0]) }}" style="max-width:150px;max-height:150px" width="100%" height="auto">
            </center>
            </div>
        <div class="col-10">
            <h2>{{ school_info['School'][0] }}</h2>
            <strong>Location: </strong> <a href="https://www.google.com/maps/search/?api=1&query={{ school_info['Lat'][0] }},{{ school_info['Long'][0] }}">{{ school_info['City'][0] }}, {{ school_info['State'][0] }}</a>
            <br />
            <strong>Campus Environment: </strong> {{ school_info['Envt_Type'][0] }} Campus
            <br />
            <strong>School Type: </strong> {{ school_info['Private_Public'][0] }} Institution
            <br />
            <strong>Program Type: </strong> {{ school_info['MD_or_DO'][0] }}
        </div>
    </div>

    <!-- WARNING ABOUT WIP -->
    <div class="row">
        <div class="bg-warning container" style="margin-top:10px; margin-bottom:10px">
            This feature is a work in progress and requires more data. Invite other future doctors to track their cycles using CycleTrack to expedite development!
        </div>
    </div>
    <!-- SCHOOL INFO TABS -->
    <div class="row" id="school-info">
            <!-- TAB LIST -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="md-tab" data-toggle="tab" href="#md" role="tab" aria-controls="md"
                       aria-selected="true"><h6>{{ school_info['MD_or_DO'][0] }}</h6></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="mdphd-tab" data-toggle="tab" href="#mdphd" role="tab" aria-controls="mdphd"
                       aria-selected="false"><h6>{{ school_info['MD_or_DO'][0] }}/PhD</h6></a>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent" style="padding:10px; border-style: none solid solid; border-color:#dee2e6; border-width:1px">
                <!-- MD/DO INFO -->
                <div class="tab-pane fade show active" id="md" role="tabpanel" aria-labelledby="md-tab">
                    <div style="padding:10px;">
                        <h5>Current Cycle Status</h5>
                        {% if reg_info['cycle_status_json'] %}
                        <center><div id="reg_status"></div></center>
                        {% else %}
                        <p>We currently do not have enough data points to display the current cycle status. Please invite other
                        applicants to track their cycles for this graph to appear.</p>
                        {% endif %}
                    </div>
                    <div style="padding:10px">
                        <h5>Historic Information</h5>
                        <p>The information in this section contains data collected by CycleTrack over the past 3
                        application cycles (including current cycle). If you think there is additional useful
                        information we can display on this page, please contact us!</p>
                        <!-- INTERNAL TABS W/ INTERVIEW + ACCEPTANCE INFO -->
                        <ul class="nav nav-tabs" id="reg_tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="reg_interviews_tab" data-toggle="tab" href="#reg_interviews" role="tab" aria-controls="reg_interviews"
                                   aria-selected="true">Interviews</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="reg_acceptances_tab" data-toggle="tab" href="#reg_acceptances" role="tab" aria-controls="reg_acceptances"
                                   aria-selected="false">Acceptances</a>
                            </li>
                        </ul>

                        <div class="tab-content" id="reg_tabs_content" style="padding:10px; border-style: none solid solid; border-color:#dee2e6; border-width:1px">
                            <div class="tab-pane fade show active" id="reg_interviews" role="tabpanel" aria-labelledby="reg_interviews">
                                <strong>Total Interviews Tracked: </strong>{{ reg_info['interview_count'] }}<br />
                                <strong>Percent Applicants Interviewed: </strong>
                                {% if reg_info['n_percent_interviewed'] > 4 %}
                                {{ reg_info['percent_interviewed'] }}, (n={{ reg_info['n_percent_interviewed'] }})
                                {% else %}
                                <a href="#" data-toggle="tooltip" title="Less than 5 data points available." style="text-decoration-style: dotted; color:gray">XX.XX</a>
                                {% endif %}
                                <br />
                                <strong>Median cGPA (Range): </strong>
                                {% if reg_info['n_interviewed_cgpa'] > 4 %}
                                {{ reg_info['interviewed_cgpa'] }}, (n={{ reg_info['n_interviewed_cgpa'] }})
                                {% else %}
                                <a href="#" data-toggle="tooltip" title="Less than 5 data points available." style="text-decoration-style: dotted; color:gray">X.XX</a>
                                {% endif %}
                                <br />
                                <strong>Median sGPA (Range): </strong>
                                {% if reg_info['n_interviewed_sgpa'] > 4 %}
                                {{ reg_info['interviewed_sgpa'] }}, (n={{ reg_info['n_interviewed_sgpa'] }})
                                {% else %}
                                <a href="#" data-toggle="tooltip" title="Less than 5 data points available." style="text-decoration-style: dotted; color:gray">X.XX</a>
                                {% endif %}
                                <br />
                                <strong>Median MCAT (Range): </strong>
                                {% if reg_info['n_interviewed_mcat'] > 4 %}
                                {{ reg_info['interviewed_mcat'] }}, (n={{ reg_info['n_interviewed_mcat'] }})
                                {% else %}
                                <a href="#" data-toggle="tooltip" title="Less than 5 data points available." style="text-decoration-style: dotted; color:gray">XXX.X</a>
                                {% endif %}
                                <br />
                                <strong>Interview Invites Over Time: </strong><br />
                                {% if reg_info['interview_graph'] %}
                                <center><div id="reg_interviews_graph"></div></center>
                                {% else %}
                                <p>We currently do not have enough data points to display a graph of interview invites over time.</p>
                                {% endif %}
                            </div>
                            <div class="tab-pane fade" id="reg_acceptances" role="tabpanel" aria-labelledby="reg_acceptances">
                                <strong>Total Acceptances Tracked: </strong>{{ reg_info['acceptance_count'] }}<br />
                                <strong>Percent Accepted Post-Interview: </strong>
                                {% if reg_info['n_percent_interview_accepted'] > 4 %}
                                {{ reg_info['percent_interview_accepted'] }}, (n={{ reg_info['n_percent_interview_accepted'] }})
                                {% else %}
                                <a href="#" data-toggle="tooltip" title="Less than 5 data points available." style="text-decoration-style: dotted; color:gray">XX.XX</a>
                                {% endif %}
                                <br />
                                <strong>Percent Accepted From Waitlist: </strong>
                                {% if reg_info['n_percent_waitlist_accepted'] > 4 %}
                                {{ reg_info['percent_waitlist_accepted'] }}, (n={{ reg_info['n_percent_waitlist_accepted'] }})
                                {% else %}
                                <a href="#" data-toggle="tooltip" title="Less than 5 data points available." style="text-decoration-style: dotted; color:gray">XX.XX</a>
                                {% endif %}
                                <br />
                                <strong>Median cGPA (Range): </strong>
                                {% if reg_info['n_accepted_cgpa'] > 4 %}
                                {{ reg_info['accepted_cgpa'] }}, (n={{ reg_info['n_accepted_cgpa'] }})
                                {% else %}
                                <a href="#" data-toggle="tooltip" title="Less than 5 data points available." style="text-decoration-style: dotted; color:gray">X.XX</a>
                                {% endif %}
                                <br />
                                <strong>Median sGPA (Range): </strong>
                                {% if reg_info['n_accepted_sgpa'] > 4 %}
                                {{ reg_info['accepted_sgpa'] }}, (n={{ reg_info['n_accepted_sgpa'] }})
                                {% else %}
                                <a href="#" data-toggle="tooltip" title="Less than 5 data points available." style="text-decoration-style: dotted; color:gray">X.XX</a>
                                {% endif %}
                                <br />
                                <strong>Median MCAT (Range): </strong>
                                {% if reg_info['n_accepted_mcat'] > 4 %}
                                {{ reg_info['accepted_mcat'] }}, (n={{ reg_info['n_accepted_mcat'] }})
                                {% else %}
                                <a href="#" data-toggle="tooltip" title="Less than 5 data points available." style="text-decoration-style: dotted; color:gray">XXX.X</a>
                                {% endif %}
                                <br />
                                <strong>Acceptance Offers Over Time: </strong><br />
                                {% if reg_info['acceptance_graph'] %}
                                <center><div id="reg_acceptance_graph"></div></center>
                                {% else %}
                                <p>We currently do not have enough data points to display a graph of acceptance offers over time.</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>


                    {% if school_info['MD_or_DO'][0] == "MD" %}
                    <div style="padding:10px;">
                        <h5>AAMC Data</h5>
                        {{ reg_info['aamc_table'] | safe }}
                    </div>
                    {% endif %}
                </div>

                <!-- MD/DO-PhD INFO -->
                <div class="tab-pane fade" id="mdphd" role="tabpanel" aria-labelledby="mdphd-tab">
                    <div style="padding:10px;">
                        <h5>Current Cycle Status</h5>
                        {% if phd_info['cycle_status_json'] %}
                        <center><div id="phd_status"></div></center>
                        {% else %}
                        <p>We currently do not have enough data points to display the current cycle status. Please invite other
                        applicants to track their cycles for this graph to appear.</p>
                        {% endif %}
                    </div>

                    <div style="padding:10px">
                        <h5>Historic Information</h5>
                        <p>The information in this section contains data collected by CycleTrack over the past 3
                        application cycles (including current cycle). If you think there is additional useful
                        information we can display on this page, please contact us!</p>
                        <!-- INTERNAL TABS W/ INTERVIEW + ACCEPTANCE INFO -->
                        <ul class="nav nav-tabs" id="phd_tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="phd_interviews_tab" data-toggle="tab" href="#phd_interviews" role="tab" aria-controls="reg_interviews"
                                   aria-selected="true">Interviews</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="phd_acceptances_tab" data-toggle="tab" href="#phd_acceptances" role="tab" aria-controls="reg_acceptances"
                                   aria-selected="false">Acceptances</a>
                            </li>
                        </ul>

                        <div class="tab-content" id="phd_tabs_content" style="padding:10px; border-style: none solid solid; border-color:#dee2e6; border-width:1px">
                            <div class="tab-pane fade show active" id="phd_interviews" role="tabpanel" aria-labelledby="phd_interviews">
                                <strong>Total Interviews Tracked: </strong>{{ phd_info['interview_count'] }}<br />
                                <strong>Percent Applicants Interviewed: </strong>
                                {% if phd_info['n_percent_interviewed'] > 4 %}
                                {{ phd_info['percent_interviewed'] }}, (n={{ phd_info['n_percent_interviewed'] }})
                                {% else %}
                                <a href="#" data-toggle="tooltip" title="Less than 5 data points available." style="text-decoration-style: dotted; color:gray">XX.XX</a>
                                {% endif %}
                                <br />
                                <strong>Median cGPA (Range): </strong>
                                {% if phd_info['n_interviewed_cgpa'] > 4 %}
                                {{ phd_info['interviewed_cgpa'] }}, (n={{ phd_info['n_interviewed_cgpa'] }})
                                {% else %}
                                <a href="#" data-toggle="tooltip" title="Less than 5 data points available." style="text-decoration-style: dotted; color:gray">X.XX</a>
                                {% endif %}
                                <br />
                                <strong>Median sGPA (Range): </strong>
                                {% if phd_info['n_interviewed_sgpa'] > 4 %}
                                {{ phd_info['interviewed_sgpa'] }}, (n={{ phd_info['n_interviewed_sgpa'] }})
                                {% else %}
                                <a href="#" data-toggle="tooltip" title="Less than 5 data points available." style="text-decoration-style: dotted; color:gray">X.XX</a>
                                {% endif %}
                                <br />
                                <strong>Median MCAT (Range): </strong>
                                {% if phd_info['n_interviewed_mcat'] > 4 %}
                                {{ phd_info['interviewed_mcat'] }}, (n={{ phd_info['n_interviewed_mcat'] }})
                                {% else %}
                                <a href="#" data-toggle="tooltip" title="Less than 5 data points available." style="text-decoration-style: dotted; color:gray">XXX.X</a>
                                {% endif %}
                                <br />
                                <strong>Interview Invites Over Time: </strong><br />
                                {% if phd_info['interview_graph'] %}
                                <center><div id="phd_interviews_graph"></div></center>
                                {% else %}
                                <p>We currently do not have enough data points to display a graph of interview invites over time.</p>
                                {% endif %}

                            </div>
                            <div class="tab-pane fade" id="phd_acceptances" role="tabpanel" aria-labelledby="phd_acceptances">
                                <strong>Total Acceptances Tracked: </strong>{{ phd_info['acceptance_count'] }}<br />
                                <strong>Percent Accepted Post-Interview: </strong>
                                {% if phd_info['n_percent_interview_accepted'] > 4 %}
                                {{ phd_info['percent_interview_accepted'] }}, (n={{ phd_info['n_percent_interview_accepted'] }})
                                {% else %}
                                <a href="#" data-toggle="tooltip" title="Less than 5 data points available." style="text-decoration-style: dotted; color:gray">XX.XX</a>
                                {% endif %}
                                <br />
                                <strong>Percent Accepted From Waitlist: </strong>
                                {% if phd_info['n_percent_waitlist_accepted'] > 4 %}
                                {{ phd_info['percent_waitlist_accepted'] }}, (n={{ phd_info['n_percent_waitlist_accepted'] }})
                                {% else %}
                                <a href="#" data-toggle="tooltip" title="Less than 5 data points available." style="text-decoration-style: dotted; color:gray">XX.XX</a>
                                {% endif %}
                                <br />
                                <strong>Median cGPA (Range): </strong>
                                {% if phd_info['n_accepted_cgpa'] > 4 %}
                                {{ phd_info['accepted_cgpa'] }}, (n={{ phd_info['n_accepted_cgpa'] }})
                                {% else %}
                                <a href="#" data-toggle="tooltip" title="Less than 5 data points available." style="text-decoration-style: dotted; color:gray">X.XX</a>
                                {% endif %}
                                <br />
                                <strong>Median sGPA (Range): </strong>
                                {% if phd_info['n_accepted_sgpa'] > 4 %}
                                {{ phd_info['accepted_sgpa'] }}, (n={{ phd_info['n_accepted_sgpa'] }})
                                {% else %}
                                <a href="#" data-toggle="tooltip" title="Less than 5 data points available." style="text-decoration-style: dotted; color:gray">X.XX</a>
                                {% endif %}
                                <br />
                                <strong>Median MCAT (Range): </strong>
                                {% if phd_info['n_accepted_mcat'] > 4 %}
                                {{ phd_info['accepted_mcat'] }}, (n={{ phd_info['n_accepted_mcat'] }})
                                {% else %}
                                <a href="#" data-toggle="tooltip" title="Less than 5 data points available." style="text-decoration-style: dotted; color:gray">XXX.X</a>
                                {% endif %}
                                <br />
                                <strong>Acceptance Offers Over Time: </strong><br />
                                {% if phd_info['acceptance_graph'] %}
                                <center><div id="phd_acceptance_graph"></div></center>
                                {% else %}
                                <p>We currently do not have enough data points to display a graph of acceptance offers over time.</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    {% if school_info['MD_or_DO'][0] == "MD" %}
                    <div style="padding:10px;">
                        <h5>AAMC Data</h5>
                        {{ phd_info['aamc_table'] | safe }}
                    </div>
                    {% endif %}
                </div>
            </div>
    </div>
</div>

<!-- PREPARE GRAPHS -->
<script>
    $(document).on('shown.bs.tab', 'a[data-toggle="tab"]', function (event) {
    var doc = $(".tab-pane.active .plotly-graph-div");
    for (var i = 0; i < doc.length; i++) {
        Plotly.relayout(doc[i], {autosize: true});
    }
})
</script>
{% if reg_info['cycle_status_json'] %}
    <script>
    var reg_graph = {{ reg_info['cycle_status_json'] | safe }};
    reg_graph.config = {'responsive': true, 'displaylogo': false}
    Plotly.newPlot('reg_status', reg_graph);
    </script>
{% endif %}
{% if phd_info['cycle_status_json'] %}
    <script>
    var phd_graph = {{ phd_info['cycle_status_json'] | safe }};
    phd_graph.config = {'responsive': true, 'displaylogo': false}
    Plotly.newPlot('phd_status', phd_graph);
    </script>
{% endif %}
{% if reg_info['interview_graph'] %}
    <script>
    var reg_interviews_graph = {{ reg_info['interview_graph'] | safe }};
    reg_interviews_graph.config = {'responsive': true, 'displaylogo': false}
    Plotly.newPlot('reg_interviews_graph', reg_interviews_graph);
    </script>
{% endif %}
{% if reg_info['acceptance_graph'] %}
    <script>
    var reg_acceptance_graph = {{ reg_info['acceptance_graph'] | safe }};
    reg_acceptance_graph.config = {'responsive': true, 'displaylogo': false}
    Plotly.newPlot('reg_acceptance_graph', reg_acceptance_graph);
    </script>
{% endif %}
{% if phd_info['interview_graph'] %}
    <script>
    var phd_interviews_graph = {{ phd_info['interview_graph'] | safe }};
    phd_interviews_graph.config = {'responsive': true, 'displaylogo': false}
    Plotly.newPlot('phd_interviews_graph', phd_interviews_graph);
    </script>
{% endif %}
{% if phd_info['acceptance_graph'] %}
    <script>
    var phd_acceptance_graph = {{ phd_info['acceptance_graph'] | safe }};
    phd_acceptance_graph.config = {'responsive': true, 'displaylogo': false}
    Plotly.newPlot('phd_acceptance_graph', phd_acceptance_graph);
    </script>
{% endif %}

{% endblock %}

