{% extends 'base.html' %}
{% block title %}Settings{% endblock %}
{% block content %}
<div class="container">
    <form method="POST">
        <h2 style="padding-top: 10px">Account Settings</h2>
        <p>You may change any account settings on this page. Skip any fields you do not wish to change.</p>
        <table>
            <tr>
                <td>Change Email: </td>
                <td><input type="email" class="form-control" id="email" name="email" value="{{ user.email }}" /></td>
            </tr>
            <tr><td style="height:20px"></td></tr>
            <tr>
                <td>Change Password: </td>
                <td><input type="password" class="form-control" name="new_password" id="new_password" /></td>
            </tr>
            <tr>
                <td>Confirm New Password: </td>
                <td><input type="password" class="form-control" name="new_password_confirm" id="new_password_confirm" /></td>
            </tr>
            <tr><td style="height:20px"></td></tr>
            <tr>
                <td>Current Password: </td>
                <td><input type="password" class="form-control" name="current_password" id="current_password" /></td>
            </tr>
        </table>
        <small>You must enter your password to confirm any changes.</small><br />
        <button type="submit" class="btn btn-primary">Submit Changes</button>
    </form>

    {% if unverified %}
    <button><a href="{{ url_for('authentication.resend_email') }}">Resend Verification Email</a></button>
    {% endif %}

    <button class="btn btn-danger" style="margin-top: 20px" data-toggle="modal" data-target="#delete-account">Delete Your Account</button>
</div>

<!-- MODAL FOR ACCOUNT DELETION -->
<div class="modal fade" id="delete-account" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Your Account</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        Please note that deleting your account is <u>permanent</u>. All information entered into CycleTrack
                        will be deleted from our system and cannot be recovered. If you wish to use CycleTrack
                        following account deletion, you will need to create a new account.
                    </p>
                    <label for="del_password">Enter your password to confirm account deletion:</label>
                    <input type="password" name="del_password" id="del_password" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete Account</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
