{% extends 'dashboard.html' %}
{% block title %} Suggestions/Reports {% endblock %}
{% block dash_content %}
<div id="visualizations" class="container" style="padding-top:10px">
    <form method="POST">
        <h2>Suggestions and Bug Reports</h2>
        <div style="margin-bottom: 10px">
            We're always looking to make CycleTrack better. If you have a suggestion or think something isn't working
            the way it should be, please let us know!
        </div>
        <div>
            <div class="form-group" style="padding-top: 5px; padding-bottom:5px;">
                <div class="row" style="margin-bottom: 10px">
                    <div class="col-2">
                        Suggestion or Bug Report:
                    </div>
                    <div class="col">
                        <input type="radio" id="suggestion" name="type" value="Suggestion">
                        <label for="suggestion">Suggestion</label><br>
                        <input type="radio" id="bug" name="type" value="Bug Report">
                        <label for="bug">Bug Report</label><br>
                    </div>
                </div>
                <div class="row" style="margin-bottom:10px">
                    <div class="col-2">
                        Can we contact your email if we have questions?
                    </div>
                    <div class="col">
                        <input type="radio" id="yes_contact" name="contact" value="yes">
                        <label for="yes_contact">Yes</label><br>
                        <input type="radio" id="no_contact" name="contact" value="no">
                        <label for="no_contact">No</label><br>
                    </div>
                </div>
                <div class="row" style="margin-bottom:10px">
                    <p>Enter your suggestion/bug report below. Please feel free to include screenshots by including an
                        Imgur or Google Drive link. If you're ok with us contacting you about this, but
                        prefer to communicate via discord, please leave your username here as well.</p>
                    <textarea id="content" name="content" style="height:100px"></textarea>
                </div>
                <div class="row" style="margin-bottom:10px">
                    <div class="col-3">
                        What is the abbreviation for 'Medical College Admission Test'?
                    </div>
                    <div class="col">
                        <input type="text" name="spam_protect" id="spam_protect" />
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}