{% extends 'dashboard.html' %}
{% block title %} Suggestions/Reports {% endblock %}
{% block additional_js %}
<script>
     function checkValid() {
        var form_type = document.getElementById("form_type").value;
        var content = document.getElementById("content").value
        var button = document.getElementById("submit_button");

        if (form_type !== "" && content !== "") {
            button.removeAttribute("disabled");
        } else {
            button.setAttribute("disabled", "disabled");
        }
     }
</script>
{% endblock %}
{% block dash_content %}
<div id="visualizations" class="container" style="padding-top:10px">
    <form method="POST">
        <h2>Suggestions and Bug Reports</h2>
        <div style="margin-bottom: 10px">
            <p>Your suggestions and bug reports help us make CycleTrack better! Any screenshots or attachments are welcome
            via a Google Drive (or alternative) link within the submission form.</p>
            <div class="row">
                <select id="form_type" name="form_type" class="form-select" onchange="checkValid()">
                    <option value="" disabled selected>Select an Option</option>
                    <option value="Suggestion">Suggestion</option>
                    <option value="Bug Report">Bug Report</option>
                </select>
            </div>
            <br />
            <div class="row">
            <textarea id="content" name="content" style="height:200px" onkeyup="checkValid()"
                      placeholder="Write your suggestion or bug report here."></textarea>
            </div>
            <br />
        <button id = "submit_button" type="submit" class="btn btn-primary" disabled>Submit</button>
        </div>
    </form>
</div>
{% endblock %}