{% extends 'base.html' %}
{% block title %}Terms and Conditions{% endblock %}
{% block content %}
<div class="container">
    <h2 style="padding-top: 10px" id="terms">Terms and Conditions</h2>
    <p>
        Last Modified: March 2, 2022
    </p>

    <h4 id="welcome">1. Welcome to CycleTrack</h4>
    <p>
        We're glad you're here! These terms and our <a href="{{ url_for('pages.privacy') }}">privacy policy</a> govern
        your use of CycleTrack. When you use our website or create an account, you are agreeing to these terms. You may
        not use CycleTrack if you do not agree to these terms.
    </p>

    <h4 id="liability">2. Limits on Liability</h4>
    <p>
        We work hard to provide the best experience we can for our users. However, this website is provided "as is,"
        and we do not make any guarantees that our website will always be safe, secure, or error-free or that it will
        function without disruptions or imperfections.
    </p>

    <h4 id="accounts">3. User Accounts</h4>
    <p>
        When you create an account with CycleTrack, you must provide information that is accurate. Intentionally
        entering incorrect information constitutes a breach of these terms and may result in termination of your account.
        <br /><br />
        You are responsible for safeguarding the password that you use to access CycleTrack. You must notify the
        CycleTrack team immediatley if you become aware of any breach of security or unauthorized use of your account.
    </p>

    <h4 id="other-websites">4. Links to Other Websites</h4>
    <p>
        CycleTrack contains several links to third-party websites. We do not have any control over nor do we assume
        responsibility for the content, policies, or practices of those websites.
    </p>

    <h4 id="termination">5. Account Termination</h4>
    <p>
        We may terminate or suspend your account immediatley, without prior notice or liability, for any reason
        whatsoever. If you wish to terminate your account, you may simply discontinue using CycleTrack or delete your
        account via the account settings page. Note that account deletion is permanent and any information attached to
        your account will be permanently deleted from our system.
    </p>

    <h4 id="amendments">6. Amendments</h4>
    <p>
        As we pursue our goal of increasing accessibility and transparency of the medical school application process, we
        may need to amend these terms and conditions. As such, we reserve the right to make modifications to these terms
        at any time. Your continued use of CycleTrack following the date of a posted amendment serves as agreement to
        these terms and conditions.
    </p>

    <h4 id="contact">7. Contact Us</h4>
    <p>
        If you have any questions about these terms and conditions, you can contact us by sending an email to
        admin@cycletrack.org.
    </p>
</div>
{% endblock %}
