{% extends 'dashboard.html' %}
{% block title %} Visualizations {% endblock %}
{% block dash_content %}
<div id="visualizations" class="container" style="padding-top:10px">
    <form method="POST">
        <h2>Visualizations</h2>
        <div class="d-md-none" style="padding-bottom:10px">
            <div class="bg-warning container rounded" style="padding: 10px">
            Visualizations may be difficult to
            view on smaller screens. You may want to return to this page on a device with a larger screen!
            </div>
        </div>
        <div style="">
        <div class="form-group" style="padding-top: 5px; padding-bottom:5px;">
            <label for="cycle">Choose a Cycle: </label>
            <select name="cycle_id" id="cycle_manual">
                {% for cycle in user.cycles %}
                <option value="{{ cycle.id }}">{{ cycle.cycle_year }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group" style="padding-top: 5px; padding-bottom:5px;">
            <label for="filter">Filter: </label>
            <select name="filter" id="filter">
                <option value="all">All Applications</option>
                <option value="reg">MD/DO</option>
                <option value="phd">MD/DO-PhD</option>
                <option value="md">MD</option>
                <option value="md-phd">MD-PhD</option>
                <option value="do">DO</option>
                <option value="do-phd">DO-PhD</option>
            </select>
        </div>
        <div class="form-group" style="padding-top: 5px; padding-bottom:5px;">
            <label for="vis_type">Choose a Visualization:</label>
            <select name="vis_type" id="vis_type">
                {% for vis_type in vis_types %}
                <option value="{{ vis_type }}">{{ vis_type }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group" style="padding-top: 5px; padding-bottom:5px;">
            <label for="color_type">Choose a Color Palette:</label>
            <select name="color_type" id="color_type">
                {% for color_type in color_types %}
                <option value="{{ color_type }}">{{ color_type }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group" style="padding-top: 5px; padding-bottom:5px;">
            <label for="plot_title">Title:</label>
            <input type="text" id="plot_title" name = "plot_title" value="Application Cycle"></input>
        </div>
        <button type="submit" class="btn btn-primary">Generate</button>
    </form>
    </div>
</div>

{% if graphJSON %}
<div class="container" style="padding-top:20px">
<div id="chart" class="chart"></div>
<script>
	var graphs = {{ graphJSON | safe }};
	graphs.config = {'responsive': true, 'displaylogo': false,
    modeBarButtonsToRemove:["autoScale2d","zoomIn2d","zoomOut2d","toggleSpikelines","select2d","lasso2d"]}
    Plotly.newPlot('chart', graphs);
</script></div>
{% endif %}
{% endblock %}