{% extends 'dashboard.html' %}
{% block title %} Visualizations {% endblock %}
{% block dash_content %}
<div id="visualizations" class="container" style="padding-top:10px">
    <form method="POST">
        <h2>Visualizations</h2>
        <div class="d-md-none" style="padding-bottom:10px">
            <div class="bg-warning container rounded" style="padding: 10px">
            Visualizations may be difficult to
            view on smaller screens. You may want to return to this page on a device with a larger screen!
            </div>
        </div>
        <div style="">
        <div class="form-group">
            <label for="cycle">Choose a Cycle: </label>
            <select name="cycle_id" id="cycle_manual">
                {% for cycle in user.cycles %}
                <option value="{{ cycle.id }}">{{ cycle.cycle_year }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="vis_type">Choose a Visualization:</label>
            <select name="vis_type" id="vis_type">
                {% for vis_type in vis_types %}
                <option value="{{ vis_type }}">{{ vis_type }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Generate</button>
    </form>
    </div>
</div>

{% if graphJSON %}
<div class="container" style="padding-top:20px">
<div id="chart" class="chart"></div>
<script>
	var graphs = {{ graphJSON | safe }};
    Plotly.newPlot('chart',graphs,{});
</script></div>
{% endif %}
{% endblock %}